<h4><strong><%= user.firstName + ' ' + user.lastName %></strong>, your account has been verified successfully!</h4>
<p>
    Thank you for using
    <a href="<%= app.BASEURL %>"> <%= app.TITLE %> </a>.
</p>
