<div>
    <input type="file" id="fileUploadEl" onchange="angular.element(this).scope().selectFile(this)" style="display:none"/>
    <div class="imgFormat image" onclick="$('#fileUploadEl')[0].click();" ng-hide="$root.ShowCropperEl" drag-zone>
        <div class="topDrop addEditPic"></div>

        <img class="uploadImg cropperWindow" src="img/image.PNG" ng-show="!model.img" style="padding:15% 35%">
        <img class="uploadImg cropperWindow" ng-src="{{model.img}}" ng-show="model.img">
    </div>
    <div class="imgFormat image cropperWindow" ng-show="$root.ShowCropperEl" style="position: relative">
        <img id="fileCropEl" class="uploadImg" ng-src="{{image.src}}"/>
        <div class="controls">
            <div class="btn-group cropperWindowButtons">
                <button class="btn btn-primary" ng-click="crop()"><span class="fa fa-crop"></span> Crop</button>
                <button class="btn btn-primary" ng-click="reset()"><span class="fa fa-refresh"></span> Reset</button>
                <button class="btn btn-primary" ng-click="close()"><span class="fa fa-times"></span> Cancel</button>
            </div>
        </div>
    </div>
    <ng-transclude></ng-transclude>
</div>