<style>
    .selectedGroup md-card-content {
        background-color: #83d2e3;
    }

    .selectedSubgroup md-card-content {
        background-color: #83d2e3;
    }

    .selectedQuiz md-card-content {
        background-color: #83d2e3;
    }

    .previousSelected md-card-content {
        background-color: #888888;
    }

    .selectedTab {
        padding-left: 0;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
        opacity: 0.5;
        background-color: #058b97;
    }

    .selectedBook {
        background-color: #83d2e3;
    }

    .selectedTest {
        background-color: blue;
    }

    .marginLeft {
        margin-left: 11px;
    }

    #createQuiz {
        width: 1300px;
    }
</style>

<div style="box-shadow: 0px 2px 0px -1px rgba(0, 0, 0, 0.2), 1px 0px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

    position: fixed;
    background-color: rgb(130, 210, 227);
    height: 288px;
    min-height: 288px;
    /*top: -40px;*/
    min-width: 100%;
    margin: 0 auto;
    left: 0px;
    top: 0px !important;">
    <ng-md-icon icon="close" size="30" style="outline: none; margin-top: 53px; position: relative; top: 20%"
                ng-click="quizAssign.back()"></ng-md-icon>
</div>
<div id="createQuiz" style="height: calc(106.6vh - 88px);background-color: #efefef; width: 1360px">

    <md-content class="grayScroller" style="height: calc(95.6vh - 88px);max-width:85%;margin: 0px auto;
                margin-top:10px;
                overflow-x:hidden;
                background-color: #fff"
                layout="column">

        <!--<div flex="8"></div>-->
        <div flex="25">
            <div style="position: fixed;top:25%;left: 40%;">
                <!--link of all tabs-->
                <div layout="row" style="">
                    <md-button class="md-fab md-mini md-primary" aria-label="Use Android" style="margin : 0 "
                               ng-click="quizAssign.one()">1
                    </md-button>
                    <div style="border: 1px solid black;width: 80px;height: 1px;margin-top: 7%;"></div>
                    <md-button class="md-fab md-mini md-primary" aria-label="Use Android" style="margin : 0"
                               ng-click="quizAssign.two()" ng-disabled="!quizAssign.twoTab">2
                    </md-button>
                    <div style="border: 1px solid black;width: 80px;height: 1px;margin-top: 7%;"></div>
                    <md-button class="md-fab md-mini md-primary" aria-label="Use Android" style="margin : 0"
                               ng-click="quizAssign.three()" ng-disabled="!quizAssign.threeTab">3
                    </md-button>
                </div>
            </div>
        </div>
        <div flex="75"  layout="column" layout-align="centre centre">
            <div flex="80">
                <!--first tab-->
                <div ng-show="quizAssign.showOne " layout="row" layout-align="cntre centre">
                    <div flex="30"></div>
                    <form flex="40" name="projectFoam">
                        <!--Duration-->
                        <md-input-container>
                            <label>Date</label>
                            <input type="date" ng-model="quizAssign.quizDate" required >
                        </md-input-container>
                        <md-input-container>
                            <label>Start Time</label>
                            <input type="time" ng-model="quizAssign.quizStartTime" required >
                        </md-input-container>
                        <md-input-container>
                            <label>End Time</label>
                            <input type="time" ng-model="quizAssign.quizEndTime" required >
                        </md-input-container>
                        <md-input-container>
                            <label>Pasiing Marks</label>
                            <input type="number" ng-model="quizAssign.quizPercentage" required >
                        </md-input-container>
                    </form>
                    <div flex="30"></div>
                </div>
                <!--second tab-->
                <div ng-show="quizAssign.showTwo" layout="row" style=" margin-top:10px;">
                    <!--Quiz Side-->
                    <md-card style="margin: 1px ;height: 400px;" flex="20">
                        <md-toolbar md-scroll-shrink style="background-color: #fff;">
                            <div class="md-toolbar-tools"
                                 style="border-bottom: 2px solid #dddddd;margin: 0 auto;height:45px !important">

                                <h2 style="color: black">
                                    <span>Quiz</span>
                                </h2>
                            </div>
                        </md-toolbar>

                        <md-card-content style="">
                            <md-card
                                    style="margin: 1px !important;"
                                    ng-repeat="quizes in quizAssign.quizesList"
                                    ng-click="quizAssign.setSelectedQuiz($index); quizAssign.quizList($index)"

                                    ng-class="{selectedQuiz: $index == quizAssign.selectedQuizIndex,
                                    previousSelected: $index == quizAssign.selectedQuizIndex && quizAssign.selectedGroupIndex !== null}">
                                <md-card-content
                                        style="padding: 0 !important;"
                                        title="{{quizes.description}}">
                                    <div layout="row"
                                         style="position: relative;border:1px none">
                                        <div flex style="border:1px none;" layout="row"
                                             layout-align="start center">
                                            <span flex="10"></span>
                                            <h5>{{quizes.title}}</h5>
                                        </div>
                                        <div flex="25" style="border:1px none">
                                        </div>

                                    </div>
                                </md-card-content>
                            </md-card>
                        </md-card-content>
                        <!--</md-card>-->
                    </md-card>
                    <!--Group side-->
                    <md-card style="height: 400px;margin: 1px !important;" flex="20">
                        <md-toolbar md-scroll-shrink style="background-color: #fff;">
                            <div class="md-toolbar-tools"
                                 style="border-bottom: 2px solid #dddddd;margin: 0 auto;height:45px !important">
                                <h2 style="color: black">
                                    <span>Group</span>
                                </h2>
                            </div>
                        </md-toolbar>
                        <md-card-content>
                            <md-card style="margin: 1px !important;" ng-repeat="key in quizAssign.userObj"
                                     ng-click="quizAssign.setSelectedGroup($index); quizAssign.showTickIcon($index,key.$id);"

                                     ng-class="{selectedGroup: $index == quizAssign.selectedGroupIndex,
                                     previousSelected: $index == quizAssign.selectedGroupIndex && quizAssign.selectedSubgroupIndex !== null}"
                                    >

                                <!--ng-click="quizAssign.setSelectedTopic(this);
                                    !quizAssign.showQuizBar && quizAssign.showQuestions($index);
                                    quizAssign.showQuizBar && quizAssign.showQuizQuestions($index);"
                                id="topicId{{$index}}"
                                ng-mouseenter="quizAssign.hover(chapter)"
                                ng-mouseleave="quizAssign.hover(chapter)"
                                class="{{selectedTopic}}">-->

                                <md-card-content style="padding: 0px !important;" title="{{}}">
                                    <!--<div layout="column" layout-align="space-between center">-->
                                    <div layout="row"
                                         style="position: relative;border:1px none">
                                        <div flex style="border:1px none;;" layout="row"
                                             layout-align="start center">
                                            <span flex="10"></span>
                                            <h5>{{key.$id}}</h5>
                                        </div>
                                        <div flex="25" style="border:1px none">
                                        </div>

                                        <ng-md-icon flex="10" icon="done" style="fill:green; margin-left: -6px;"
                                                    ng-show="quizAssign.temporary[$index]"></ng-md-icon>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </md-card-content>



                    </md-card>
                    <!--Subgroup side-->
                    <md-card style="margin: 1px !important;height: 400px;" flex="20">
                        <md-toolbar md-scroll-shrink style="background-color: #fff;">
                            <div class="md-toolbar-tools"
                                 style="border-bottom: 2px solid #dddddd;margin: 0 auto;height:45px !important">
                                <h2 style="color: black">
                                    <span>Sub Group</span>
                                </h2>
                            </div>
                        </md-toolbar>
                        <md-card-content>

                            <md-card style="margin: 1px !important;"
                                     ng-repeat="sub in quizAssign.subgroups"

                                     ng-click="quizAssign.setSelectedSubgroup($index); quizAssign.subgroupShowTickIcon($index,sub.$id);"
                                     ng-class="{selectedSubgroup: $index == quizAssign.selectedSubgroupIndex}"
                                     >

                                <md-card-content style="padding: 0px !important;" title="{{}}">
                                    <div layout="row" style="position: relative;border:1px none">
                                        <div flex="90" style="border:1px none;" layout="row"
                                             layout-align="start center">
                                            <span flex="10"></span>
                                            <h5>{{sub.title}}</h5>
                                        </div>
                                        <ng-md-icon flex="10" icon="done" style="fill:green; margin-left: -6px;"
                                                    ng-show="quizAssign.subGroupTemp[$index]"></ng-md-icon>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </md-card-content>
                    </md-card>
                    <!--Questions View side-->
                    <div flex="40" style="height:350px !important;">
                        <md-card style="color: #000000;height: 400px;margin: 1px !important;">
                            <md-toolbar md-scroll-shrink style="background-color: #fff;">
                                <div class="md-toolbar-tools"
                                     style="border-bottom: 2px solid #dddddd;margin: 0 auto;height:45px !important">
                                    <h2 style="color: black">
                                        <span>Details</span>
                                    </h2>
                                </div>
                            </md-toolbar>
                            <md-card-content>
                                <md-card ng-show="quizAssign.showQuestionView1" style="padding-left: 5%;margin-top: -35px;">
                                    <md-card-content>
                                        <p><span class="md-title">Q: </span>{{quizAssign.questionView.Description}}</p>
                                        <p><span class="md-title">Answer Type:</span> {{quizAssign.questionView.Type}}</p>
                                        <p><span class="md-title">Options</span></p>
                                        <ul>
                                            <li ng-repeat="option in quizAssign.questionView.QuestionOptions">
                                                <!--{{option.optionText}}-->
                                                <div ng-if="option.rightAnswer == true">
                                                    <span style="white-space: pre;margin-left: 6%;">Option {{$index+1}} : {{option.optionText}} <ng-md-icon icon="done" style="fill: green"></ng-md-icon></span>
                                                </div>
                                                <div ng-if="option.rightAnswer != true">
                                                    <span style="margin-left: 5%;white-space: pre;"> Option {{$index+1}} : {{option.optionText}} </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </md-card-content>

                                </md-card>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>
                <!--third tab-->
                <div ng-show="quizAssign.showThree">
                    <md-card style="height: calc(55.6vh - 88px)">
                        <md-toolbar md-scroll-shrink style="background-color: #fff;">
                            <div class="md-toolbar-tools"
                                 style="border-bottom: 2px solid #dddddd;height:45px !important" layout="row" layout="center center">
                                <div flex="35"></div>
                                <div flex="65">
                                    <h2 style="color: black">
                                        <span class="md-headline" style="margin-left: 10%;">Selected Questions</span>
                                    </h2>
                                </div>
                            </div>
                        </md-toolbar>
                        <div layout="row" layout="center center">
                            <div flex="35"></div>
                            <div flex="65">
                                <md-content style="width: 45%; text-align: center; overflow: auto; height: 400px;">
                                    <md-card style="height: 25px" ng-repeat="question in quizAssign.viewAllQuestions">
                                        <md-content>{{question.Title}}</md-content>
                                    </md-card>
                                    <md-divider inset></md-divider>
                                </md-content>
                            </div>
                        </div>
                    </md-card>

                </div>
                <!--four tab-->
            </div>
            <div flex="20" style="margin:0 auto">
                <md-button  class="md-raised"
                            ng-disabled="!quizAssign.quizPercentage"
                            ng-click="quizAssign.goToNext()">
                    {{quizAssign.buttonText}}
                </md-button>
            </div>
        </div>
    </md-content>
</div>
