<div layout="row" layout-align="center start" ng-if="group.isMember()">
    <!-- Side Nav Bar -->
    <div class="md-whiteframe-z2" layout="column">
        <md-card style="width: 220px; margin:0px;" class="foreColorDarkGrey" layout="column">
            <div style="margin: auto;margin-top: 30px;margin-bottom: 0px;">
                <a class="cursorPointer" ng-click="group.showPanel(group.panel.active, false)" layout="row" layout-align="center center">
                    <img ng-src="{{ group.group['logo-image'].url || 'https://s3-us-west-2.amazonaws.com/defaultimgs/teamofteams.png' }}" class="md-card-image" alt="group image" style="width: 100px; height:100px; padding-bottom:10px">
                </a>
                <h4 class="textAlignCenter" layout-margin>
					{{ group.group.title }}
				</h4>
                <div layout="row" layout-align="center center" ng-if="group.group['address-title']">
                    <md-icon md-svg-src="img/location.svg" class="nomargin"></md-icon>
                    <div>{{group.group['address-title']}}</div>
                </div>
            </div>
            <md-button class="md-fab " aria-label="Setting" ng-if="group.isAdmin()" ng-click="group.openSetting()" style="position: relative; top: 30px; left: 150px; width: 40px !important; height: 40px !important; background-color: #31B4CB !important;">
                <ng-md-icon icon="settings" class="fillColorWhite" size="20" layout-align="center center"></ng-md-icon>
            </md-button>
            <div flex="25" style="border-top: 2px solid #dddddd; margin:0px" layout="row" layout-align="start center">
                <div style="border-right: 2px solid #dddddd; padding-right:10px;" layout-margin>
                    <img ng-src="{{group.userObj['profile-image'] || 'https://s3-us-west-2.amazonaws.com/defaultimgs/user.png'}}" class="icon40px imageRound" alt="group owner image" />
                </div>
                <div layout="row" layout-align="start center" layout-margin>
                    <md-progress-circular md-mode="determinate" md-diameter="44" ng-value="( group.group['members-checked-in'].count / group.group['members-count'] ) * 100" class="md-accent userPageGroupProg"></md-progress-circular>
                    <span style="margin-left: -45%;margin-top:20%;font-size: 11px">{{ ( group.group['members-checked-in'].count / group.group['members-count'] ) * 100 | number: 0 }}%</span>
                </div>
            </div>
        </md-card>
        <div style="border-bottom: 5px solid green; width:220px"></div>
        <div style="overflow-x: hidden; overflow-y: auto; height: calc(100vh - 386px)">
            <div ng-repeat="subgroup in group.subgroups track by $index" class="bottommargin5px subgroupcard" layout="column">
                <subgroupcard-directive subgroup="subgroup" ng-click="group.showPanel(group.panel.active, subgroup.$id)" class="nooutline backColorWhite md-whiteframe-z2 cursorPointer"></subgroupcard-directive>
                <ng-md-icon ng-if="group.panel.subgroupID === subgroup.$id" icon="chevron_right" style="position: relative; left: 195px; top: -60px;"></ng-md-icon>
            </div>
        </div>
    </div>
    <!--navigation side-->
    <div class="viewHeight-64 gradient3" layout="column" layout-align="space-between center">
    <div class="nopadding nomargin" >
            <img src="img/menu.svg" class="nooutline icon40px" layout-margin id="menu-toggle" />
            <md-divider class="backColorWhite"></md-divider>
            <div layout="row">
                <img src="img/line.svg" class="nooutline cursorPointer icon40px" layout-margin ng-click="group.showPanel('activity', group.panel.subgroupID)" />
                <img src="img/1arrow.png" ng-if="group.panel.active === 'activity'" class="showArrow anifade">
            </div>
            <div layout="row" ng-if="group.isMember()">
                <img src="img/comment.svg" class="nooutline cursorPointer icon40px" layout-margin ng-click="group.showPanel('chat', group.panel.subgroupID)" />
                <img src="img/1arrow.png" ng-if="group.panel.active === 'chat'" class="showArrow anifade">
            </div>
            <div layout="row">
                <img src="img/line.svg" class="nooutline cursorPointer icon40px" layout-margin ng-click="group.showPanel('progressreport', group.panel.subgroupID)" />
                <img src="img/1arrow.png" ng-if="group.panel.active === 'progressreport'" class="showArrow anifade">
            </div>
            <!-- firepad tab -->
            <div layout="row" ng-if="group.isMember()">
                <img src="img/comment.svg" class="nooutline cursorPointer icon40px" layout-margin ng-click="group.showPanel('collaborator', group.panel.subgroupID)" />
                <img src="img/1arrow.png" ng-if="group.panel.active === 'collaborator'" class="showArrow anifade">
            </div>
        </div>
        <div ng-if="group.isAdmin()">
            <md-divider class="backColorWhite topbottommargin5px"></md-divider>
            <div layout="row">
                <!-- <img src="img/menu.svg" class="nooutline cursorPointer icon40px" layout-margin ng-click="group.showPanel('manualAttendace')" /> -->
                <ng-md-icon icon="alarm_on" size="50" class="nooutline cursorPointer fillColorWhite padding5px" ng-click="group.showPanel('manualattendace', group.panel.subgroupID)"></ng-md-icon>
                <img src="img/1arrow.png" ng-if="group.panel.active === 'manualattendace'" class="showArrow anifade">
            </div>
            <div layout="row" layout-align="center center">
                <!-- <img src="img/line.svg" class="nooutline cursorPointer icon40px" layout-margin ng-click="group.showPanel('report'); group.showParams=true;" /> -->
                <ng-md-icon icon="equalizer" size="50" class="nooutline cursorPointer fillColorWhite padding5px"  ng-click="group.showPanel('report', group.panel.subgroupID); group.showParams=true;"></ng-md-icon>
                <img src="img/1arrow.png" ng-if="group.panel.active === 'report'" class="showArrow anifade">
            </div>
        </div>
    </div>
    <ui-view flex></ui-view>
</div>
<div ng-if="!group.isMember()" layout="column" layout-align="center center" class="viewHeight">
    <md-card layout-padding class="foreColorDarkGrey" ng-if="!group.group.title">
        <h3>Requested Team of Teams not found!</h3>
    </md-card>
    <md-card layout-padding class="foreColorDarkGrey" ng-if="group.group.title">
        <h3>You have to be member before accessing Team of Teams!</h3>
    </md-card>
    <md-card style="width: 220px; height: 320px; margin:0px 5px 5px 5px;" class="foreColorDarkGrey" layout="column" ng-if="group.group.title">
        <div style="margin:auto;">
            <span layout="row" layout-align="center center">
                <img ng-src="{{ group.group['logo-image'].url || 'https://s3-us-west-2.amazonaws.com/defaultimgs/teamofteams.png' }}" class="md-card-image" alt="group image" style="width: 100px; height:100px; padding-bottom:10px; padding-top:10px">
            </span>
            <h4 class="textAlignCenter" layout-margin>
                {{ group.group.title }}
            </h4>
            <div layout="row" layout-align="center center" ng-if="group.group['address-title']">
                <md-icon md-svg-src="img/location.svg" class="nomargin"></md-icon>
                <div>{{group.group['address-title']}}</div>
            </div>
        </div>
        <div flex="25" style="border-top: 2px solid #dddddd; margin:0px; margin-top: 5px" layout="row" layout-align="center center">
            <div ng-if="group.reqObj.subgroupID">
                Team: <strong>{{group.reqObj.subgrouptitle}}</strong>
            </div>
            <div ng-if="!group.reqObj.subgroupID">
                <h4>Requested Team not found!</h4>
            </div>
        </div>

        <div flex="25" style="border-top: 2px solid #dddddd; position: relative; margin:0px" layout="row" layout-align="start center">
            <div style="border-right: 2px solid #dddddd; padding-right:10px;" layout-margin>
                <img ng-src="{{group.userObj['profile-image'] || 'https://s3-us-west-2.amazonaws.com/defaultimgs/user.png'}}" class="md-avatar icon40px imageRound" alt="group owner image"/>
            </div>
            <div layout="row" layout-align="start center" layout-margin>
                <md-button class="md-button backColorSeaGreen" ng-click="group.sendRequest()">
                    <span style="color:white;">REQUEST</span>
                </md-button>
            </div>
        </div>
    </md-card>
</div>
