/* Start Animation */

.activity {
    -webkit-transition: all linear 0.1s;
    transition: all linear 0.1s;
    opacity: 1;
}

.activity.ng-hide-remove {
    -webkit-transition: all linear 0.1s;
    transition: all linear 0.1s;
    opacity: 0;
}

.activity.ng-hide-add {
    -webkit-transition: all linear 0s;
    transition: all linear 0s;
}

.teamAttendance {
    -webkit-transition: all linear 0.1s;
    transition: all linear 0.1s;
    opacity: 1;
}

.teamAttendance.ng-hide-remove {
    -webkit-transition: all linear 0.1s;
    transition: all linear 0.1s;
    opacity: 0;
}

.teamAttendance.ng-hide-add {
    -webkit-transition: all linear 0s;
    transition: all linear 0s;
}

.chatSide {
    -webkit-transition: all linear 0.1s;
    transition: all linear 0.1s;
    opacity: 1;
}

.chatSide.ng-hide-remove {
    -webkit-transition: all linear 0.1s;
    transition: all linear 0.1s;
    opacity: 0;
}

.chatSide.ng-hide-add {
    -webkit-transition: all linear 0s;
    transition: all linear 0s;
}

.onlineSide {
    -webkit-transition: all linear 0.1s;
    transition: all linear 0.1s;
    opacity: 1;
}

.onlineSide.ng-hide-remove {
    -webkit-transition: all linear 0.1s;
    transition: all linear 0.1s;
    opacity: 0;
}

.onlineSide.ng-hide-add {
    -webkit-transition: all linear 0s;
    transition: all linear 0s;
}


/*End Animation*/

.textAlignLeft {
    text-align: left;
}

.textAlignRight {
    text-align: right;
}

.textAlignCenter {
    text-align: center;
}

.textBold {
    font-weight: bold;
}
.textColor{
    color: #67C5D5;
}
.paddings{
    padding-left: 11%!important;


}
.noborder {
    border: 0px;
}

.nooutline {
    outline: 0px;
}

.nomargin {
    margin: 0px;
}

.nopadding {
    padding: 0px;
}

.automargin {
    margin: auto;
}

.leftmargin20px {
    margin-left: 20px;
}

.icon10px {
    width: 50px;
    height: 50px;
}

.icon20px {
    width: 50px;
    height: 20px;
}

.icon23px {
    width: 23px;
    height: 23px;
}

.icon30px {
    width: 30px;
    height: 30px;
}

.icon40px {
    width: 25px;
    height: 43px;
}

.viewHeight {
    height: 100vh;
}

.fillColorWhite {
    fill: white;
}

.fillColorBlack {
    fill: black;
}

.fillColorDarkGrey {
    fill: rgb(106, 106, 106)!important;
}

.fillColorLightGrey {
    fill: rgb(181, 181, 181)!important;
}

.fillColorLightGrey2 {
    fill: rgb(240, 240, 240)!important;
}

.fillColorSeaGreen {
    fill: rgb(50, 180, 202)!important;
}

.foreColorBlack {
    color: black!important;
}

.foreColorWhite {
    color: white!important;
}

.foreColorDarkGrey {
    color: rgb(106, 106, 106)!important;
}

.foreColorLightGrey {
    color: rgb(181, 181, 181)!important;
}

.foreColorLightGrey2 {
    color: rgb(240, 240, 240)!important;
}

.foreColorSeaGreen {
    color: rgb(50, 180, 202)!important;
}

.backColorBlack {
    background-color: black;
}

.backColorWhite {
    background-color: white;
}
.backColorWhite1 {
    background-color: white;
    margin-left: -20%;
}

.backColorDarkGrey {
    background-color: rgb(106, 106, 106)!important;
}

.backColorLightGrey {
    background-color: rgb(181, 181, 181)!important;
}

.backColorLightGrey2 {
    background-color: rgb(240, 240, 240)!important;
}

.backColorSeaGreen {
    background-color: rgb(50, 180, 202)!important;
}

.backColorPink {
    background-color: rgb(197, 61, 177)!important;
}

.backColorOrange {
    background-color: rgb(222, 89, 71)!important;
}
.backColorOrange {
    background-color: rgb(222, 89, 71)!important;
}
.roundShape {
    display: block;
    margin: auto;
    width: 54px;
    height: 54px;
    border-radius: 27px;
    border: 3px solid rgb(197, 25, 3);
    margin-left: 10px;
}

/*.userGroupSubgroupImg {*/
    /*background-image: url('../img/people_button.svg');*/
    /*background-repeat: no-repeat;*/
    /*background-size: 25px;*/
    /*background-position: 8px;*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*border-radius: 20px;*/
    /*background-color: #69B0A2;*/
    /*position: absolute;*/
    /*z-index: 9;*/
    /*/!* bottom: inherit; *!/*/
    /*margin: 10px 30px;*/
/*}*/

.check-in-slider .md-container .md-thumb-container .md-thumb {
    /* background-color: #32b4ca;*/
    background-image: url("../img/ABCD.svg");
    background-color: rgb(50, 181, 203);
}

.check-in-slider .md-container .md-bar {
    background-color: #1f7280;
}

.check-in-slider.md-default-theme.md-checked .md-bar {
    background-color: #95d5e1;
}

.check-in-slider.md-default-theme.md-checked .md-thumb {
    background-image: url("../img/corrects.svg");
    background-repeat: no-repeat;
    background-color: #ffffff;
}

.check-in-slider .md-container .md-bar {
    width: 52.468px;
    height: 17.487px;
}

.check-in-slider .md-container .md-thumb-container .md-thumb {
    width: 24.981px;
    height: 24.981px;
    margin-top: -1px;
}

.check-in-slider {
    position: absolute;
    margin-top: -12px;
}

body {
    /*background-image: url('../img/subheader.png');background-color: #efefef; background-repeat: repeat-x;*/
    /*background-image: url('../img/backGroundImg.svg');*/
    background-color: #efefef;
    background-repeat: repeat-x;
    overflow: hidden;
}

.toolbarQuiz {
    /*padding-top: 20px;*/
    padding-top: 3px;
    padding-left: 20px;
}

.toolbarDrop {
    padding-left: 22px;
    /*52px;*/
}

.toolbarBell {
    padding-left: 7px;
    /*25px;*/
}

.toolbarPage {
    padding-top: 12px;
}

.svgImgSize1 {
    height: 20.472px;
    width: 16px;
}

.svgImgSize2 {
    height: 20.472px;
    width: 16px;
}

body {
    /*max-width: 1366px;*/
    /*max-height: 768px;*/
}


/*md-toolbar{
    padding-top: 22px;
    max-height: 55.319px;
    min-height: 55px;
}*/

.logoPana {
    height: 32px;
    width: 32px;
}

.MyBody {
    padding-left: 30px;
    padding-right: 110px;
}

md-switch .md-thumb-container {
    width: 32px;
}

md-switch {
    /*margin-left: 64px;*/
}

.userImg {
    width: 36px;
    height: 36px;
}

.mainPana {
    outline: none;
    padding-left: 3px;
}

.dropdown {}

.dropdowncard {
    width: 238.938px;
    height: 330.04px;
}

.toolbarListCard {
    position: absolute;
    width: 350px;
    height: 300px;
    z-index: 99999;
    right: -26px;
    top: 22px;
}

.carrotImg {
    width: 24.073px;
    height: 13.167px;
    position: absolute;
    z-index: 999999;
    box-shadow: none;
    background-color: transparent !important;
    top: 11px;
    right: -2px;
}


/*.userBackground{
    background-image: url('../img/backGroundImg.svg');background-color: #efefef; background-repeat: repeat-x; bottom: 0%
}*/

.md-container {
    height: 768px;
    width: 1366px;
}

.user {
    margin-top: -1px;
    font-size: 14px;
    padding: 0 !important;

}

.userListSearchbox {
     height: 44px;
     /*width: 200px;*/
     font-size: smaller;
     /*padding-top: 20px;*/
     /*margin-left: -6px;*/
 }
.memberSettingSearchbox {
    height: 44px;
    width: 75%;
    font-size: smaller;
    /*padding-top: 20px;*/
    /*margin-left: -6px;*/
}

.NavBarSearchbox {
    top: 26px;
    height: 40px;
    width: 195px;
    font-size: smaller;
    /*padding-top: 20px;*/
    /*margin-left: -6px;*/
}

.margining {
    margin-top: 10px;
    margin-bottom: 10px;
}
.margining:hover {
    background-color: #EFEFEF;
}

.hoverColor:hover{
    background-color: #EFEFEF;
}
/*user listCard*/

md-content.md-default-theme {
    background-color: transparent;
}

md-autocomplete.md-default-theme {
    background: transparent;
}

.groupClass {
    margin-top: 10px;
    margin-bottom: 10px;
}

.switchCardListDot {
    margin-left: 8px;
}

.groupName {
    padding-left: 15px;
    font-size: large;
}


/*Haseeb Styling Start*/

.progressCirculardemoBasicUsage body {
    padding: 20px;
}

.progressCirculardemoBasicUsage h4 {
    margin: 10px 0;
}

.progressCirculardemoBasicUsage md-progress-circular {
    margin-bottom: 20px;
}

.cards-location {
    margin-top: -6%;
}

.cards-button {
    position: absolute;
    top: -40%;
    right: 2%;
    width: 40px !important;
    height: 40px !important;
}

.md-list-item.md-no-proxy,
md-list-item .md-no-style {
    padding: 0px 0px;
}

#haseeb .md-list-item.md-3-line > md-icon:first-child,
md-list-item.md-3-line > .md-avatar:first-child,
md-list-item.md-3-line > .md-no-style > md-icon:first-child,
md-list-item.md-3-line > .md-no-style > .md-avatar:first-child {
    padding: 0px 0px !important;
}

.user-iamge {
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
}

.user-locations {
    position: absolute;
    left: 15%;
}

#mycustom {
    min-height: 254px;
}

#mycustom md-list-item > .md-avatar:first-child,
md-list-item .md-list-item-inner > .md-avatar:first-child {
    padding: 0px 0px !important;
    margin-right: 0px !important;
}

#headingDiv2 {
    border-bottom-right-radius: 107px;
    /*border-top-right-radius: 100px;*/
    border-top-left-radius: 107px;
    radius: 100px;
    width: 195px;
    height: 24px;
    color: red;
    padding-left: 5px;
    margin-left: 22px;
    background-color: #D6EAFF;
}

.timeSpan2 {
    background-color: #0052B5;
    padding: 4px 14px 4px 12px;
    position: relative;
    margin-left: -35px;
    bottom: 0px;
    border-top-left-radius: 20px;
    color: #E0FFFF;
}


/*atta*/

[ng-viewport] {
    height: calc(100% - 64px);
    position: relative;
}

#sidebar-wrapper {
    top: 0;
    bottom: 0;
    height: 980px !important;
}

[layout],
#wrapper,
#page-content-wrapper {
    height: 100%;
}

#custom-layout-margin md-list {
    padding: 0px 0px 0px 0px !important;
}

#mycustom md-content.md-default-theme {
    background-color: #31B4CB;
}

.gradient2 {
    width: 77px;
    max-width: 77px;
    min-width: 77px;
    background: #0375fc;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAzNzVmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMmI0Y2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #0375fc 0%, #32b4cc 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0375fc), color-stop(100%, #32b4cc));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0375fc 0%, #32b4cc 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0375fc 0%, #32b4cc 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0375fc 0%, #32b4cc 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #0375fc 0%, #32b4cc 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0375fc', endColorstr='#32b4cc', GradientType=0);
    /* IE6-8 */
}

.gradient {
    width: 68px;
    max-width: 68px;
    min-width: 68px;
    background: #0375fc;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAzNzVmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMmI0Y2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #0375fc 0%, #32b4cc 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0375fc), color-stop(100%, #32b4cc));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0375fc 0%, #32b4cc 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0375fc 0%, #32b4cc 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0375fc 0%, #32b4cc 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #0375fc 0%, #32b4cc 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0375fc', endColorstr='#32b4cc', GradientType=0);
    /* IE6-8 */
}


/*
https://css-tricks.com/snippets/sass/custom-scrollbars-mixin/
Link for customize scrollbar
*/

::-webkit-scrollbar {
    width: 0.25em;
    /*height: 1.5em;*/
}

::-webkit-scrollbar-thumb {
    background: #058b97;
}

::-webkit-scrollbar-track {
    background: #31B4CB;
}

.custom-green-scroller {
    scrollbar-face-color: slategray;
    scrollbar-track-color: #b7bfc7;
}

.custom-gray-scroller {
    scrollbar-face-color: slategray;
    scrollbar-track-color: #dddddd;
}


/*body {
    scrollbar-face-color: slategray;
    scrollbar-track-color: #b7bfc7;
}*/

md-list-item > .md-avatar:first-child,
md-list-item .md-list-item-inner > .md-avatar:first-child {
    margin-right: 0px !important;
}


/*md-list-item.md-3-line > md-icon:first-child, md-list-item.md-3-line > .md-avatar:first-child, md-list-item.md-3-line > .md-no-style > md-icon:first-child, md-list-item.md-3-line > .md-no-style > .md-avatar:first-child{
    margin-top: 2% !important;
}

#profile-card md-card-content{
    padding:0px !important;
}

#profile-card-clear-icon svg{
    padding-top:10px;
    padding-left: 10px;
}

#prof svg{
    position: absolute;
    top: 25%;
    left: 26%;
}
/*Haseeb Styling end*/


/* Scroll Barr*/

::-webkit-scrollbar {
    width: 0.3em;
    /*height: 1.5em;*/
}

.greenScroller,
.grayScroller {
    overflow: hidden;
}

.greenScroller::-webkit-scrollbar-thumb,
.greenScroller *::-webkit-scrollbar-thumb {
    background: #058b97;
}

.greenScroller::-webkit-scrollbar-track,
.greenScroller *::-webkit-scrollbar-track {
    background: #31B4CB;
}

.grayScroller::-webkit-scrollbar-thumb,
.grayScroller *::-webkit-scrollbar-thumb {
    background: #949097;
}

.grayScroller::-webkit-scrollbar-track,
.grayScroller *::-webkit-scrollbar-track {
    background: #cbc3bd;
}

.grayScroller:hover {
    overflow: auto;
}

.greenScroller:hover {
    overflow: auto;
}

/*scroller end*/

.md-autocomplete input:not(.md-input) {
    background-color: #f2f2f2
}

md-autocomplete md-autocomplete-wrap md-progress-linear .md-container {
    display: none;
}

md-autocomplete input:not(.md-input) {
    color: black;
}


/* side drop Button*/

#sideCustomNav .mfb-component__button--main,
.mfb-component__button--child {
    background-color: #fb4482 !important;
}

#sideButtonAdd .mfb-component__button--child {
    background-color: #25a9df !important;
}

#sideButtonSearch .mfb-component__button--child {
    background-color: #ef5a28 !important;
}

#sideButtondelete .mfb-component__button--child {
    background-color: #eb1c23 !important;
}

.switchCardList {
    margin-top: 30px;
}

.userTeam {
    padding-right: 42px;
}

.no-select {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}


/*.mfb-component--br [data-mfb-label]:after, .mfb-component--tr [data-mfb-label]:after {*/


/*content: attr(data-mfb-label);*/


/*right: 70px;*/


/*}*/


/*.mfb-component--br [data-mfb-label]:after, .mfb-component--tr [data-mfb-label]:hover:after {*/


/*content: attr(data-mfb-label);*/


/*right: 70px;*/


/*}*/

.userToolBar {
    /*margin-top: -21px;*/
    margin-left: -61px;
    margin-top: -1%;

}

#sideCustomNav .mfb-component__button--main,
.mfb-component__button--child {
    background-color: #fb4482 !important;
    width: 49.233px;
    height: 49.233px;
    background-image: url('../img/people_button.svg');
    background-size: 26.104px 22.378px;
    background-position: center;
    background-repeat: no-repeat;
}

#sideButtonAdd:hover {}

#sideButtonAdd .mfb-component__button--child {
    background-color: #25a9df !important;
    width: 40.379px;
    height: 40.379px;
    background-image: url('../img/plus.svg');
    background-size: 10.095px 10.095px;
    background-position: center;
    background-repeat: no-repeat;
}

#sideButtonSearch .mfb-component__button--child {
    background-color: #ef5a28 !important;
    width: 40.379px;
    height: 40.379px;
    background-image: url('../img/search.svg');
    background-size: 17.49px 17.491px;
    background-position: center;
    background-repeat: no-repeat;
}

#sideButtondelete .mfb-component__button--child {
    background-color: #eb1c23 !important;
    width: 40.379px;
    height: 40.379px;
    background-image: url('../img/delete.svg');
    background-size: 13.762px 17px;
    background-position: center;
    background-repeat: no-repeat;
}


/*=======================Jawad Bhai*/

.listContainer {
    position: relative;
    padding: 0px 16px;
    margin-bottom: 50px;
}

.listImage {
    position: absolute !important;
    margin: 0;
    left: 12px;
    top: 0px;
    z-index: 100;
    border: 3px solid white;
}

.headingDiv {
    color: #000000 !important;
    font-size: 14px !important;
    padding: 7px 5px 0 0;
}

#headingDiv {
    border-bottom-left-radius: 107px;
    /*border-top-right-radius: 100px;*/
    border-top-right-radius: 100px;
    radius: 100px;
    width: 195px;
    height: 24px;
    color: red;
    padding-left: 35px;
    margin-left: 22px;
    background-color: #E0FFFF;
}

.listPara {
    background-color: #32b4ca;
    color: white !important;
    font-size: 12px !important;
    font-family: sans-serif;
    width: 400px;
    margin-left: 41px !important;
    padding: 10px !important;
}

.timeSpan {
    background-color: #008080;
    padding: 4px 14px 4px 5px;
    position: relative;
    margin-left: 110px;
    bottom: 10px;
    border-top-right-radius: 20px;
    border-top-right-radius: 20px;
    color: #E0FFFF;
}

.rightTbs {
    font-size: x-small;
    padding: 12px 7px !important;
}

.md-tab {
    font-size: x-small;
    padding: 12px 6px !important;
    text-align: center;
    line-height: 24px;
    transition: background-color 0.35s cubic-bezier(0.35, 0, 0.25, 1);
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    text-transform: uppercase;
    float: left;
    font-weight: 500;
}

.moh {
    background-color: #86CEED;
}

.sin {
    background-color: #68C2E8;
}

md-toolbar > md-tabs.md-default-theme md-tabs-wrapper {
    background-color: rgb(48, 183, 239);
}

md-tabs.md-default-theme md-ink-bar {
    color: #ffffff;
    background: #ffffff;
}

md-toolbar > md-tabs.md-default-theme md-tab-item:not([disabled]) {
    color: #E9F8FF;
}

.statusOnline {
    background-color: #00FF00;
    height: 9px;
    display: block;
    width: 9px;
    position: absolute;
    z-index: 100;
    top: 24px;
    margin-left: 17px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.statusOffline {
    background-color: lightgray;
    height: 9px;
    display: block;
    width: 9px;
    position: absolute;
    z-index: 100;
    top: 24px;
    margin-left: 17px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

md-list.md-default-theme md-list-item button {
    background-color: transparent;
}

.md-button.md-icon-button {
    width: 35px !important;
}

.listImg {
    position: absolute !important;
    margin: 0;
    right: 9px;
    top: 0px;
    z-index: 100;
    border: 3px solid white;
}

.headingDiv2 {
    color: #000000 !important;
    font-size: 14px !important;
    padding: 7px 0 0 0;
}

#headingDiv2 {
    border-bottom-right-radius: 107px;
    /*border-top-right-radius: 100px;*/
    border-top-left-radius: 107px;
    radius: 100px;
    width: 195px;
    height: 24px;
    color: red;
    padding-left: 5px;
    margin-left: 22px;
    background-color: #D6EAFF;
}

.timeSpan2 {
    background-color: #0052B5;
    padding: 4px 14px 5px 11px;
    position: relative;
    margin-left: -35px;
    bottom: 0px;
    border-top-left-radius: 20px;
    color: #E0FFFF;
}


/*atta*/

[ng-viewport] {
    height: calc(100% - 64px);
    position: relative;
}

#sidebar-wrapper {
    top: 0;
    bottom: 0;
    height: 100%;
}

[layout],
#wrapper,
#page-content-wrapper {
    height: 100%;
}


/*toolBar*/

.marginContainer {
    width: 1330px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    /*top: 40px !important;*/
}

.toolbarContainer {
    min-width: 97%;
    height: 55px;
    margin: 0 auto;
    position: relative;
    /*top: 40px !important;*/
}

.subheaderBar {
    box-shadow: 0px 2px 0px -1px rgba(0, 0, 0, 0.2), 1px 0px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    position: fixed;
    background-color: rgb(130, 210, 227);
    height: 288px;
    min-height: 288px;
    /*top: -40px;*/
    min-width: 100%;
    margin: 0 auto;
    left: 0px;
    top: 0px !important;
}

.toolbarBackground {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    position: fixed;
    /* background-color: rgb(38, 83, 92); */
    height: 55px;
    min-height: 55px;
    top: 0px;
    min-width: 100%;
    margin: 0 auto;
    left: 0px;
    /*background-color: #32b4ca;*/
    z-index: 99;
}

body > md-content > div > div.toolbarContainer > div > div > md-toolbar > div > div:nth-child(1) {
    margin-left: 2%;
}

body > md-content > div > div.toolbarContainer > div > div > md-toolbar {
    background-color: transparent;
    /*top: -45px;*/
}

md-toast {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 40px;
    width: 50px;
    padding-left: 24px;
    padding-right: 24px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 2px;
    font-size: 14px;
    cursor: default;
    max-width: 100%;
    max-height: 40px;
    height: 24px;
    z-index: 9999 !important;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg);
    transform: translate3d(0, 0, 0) rotateZ(0deg);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    top: 57px !important;
    left: 3px !important;
    border-radius: 5px;
}

.invalid_color {
    color: #c10000;
}

body > md-content > div > div.toolbarContainer > div > div > md-toolbar {
    min-height: 55px !important;
}

.userImgClick {
    position: absolute;
    z-index: 99999;
    top: 47px;
    right: -67px;
    width: 172px;
    height: 90px;
}

.userImgClick .md-button {
    color: #757575 !important;
}

.sampleUserImg {
    width: 141px;
    height: 141px;
    box-sizing: border-box;
    border: 3px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.userCropper-main-button {
    width: 141px;
    height: 141px;
    padding: 0px !important;
}

#mycustom > md-tabs.md-default-theme .md-tab {
    line-height: 35px;
}

#mycustom > .md-tab {
    line-height: 35px !important;
}

#mycustom md-tab-item {
    padding: 12px 23px !important;
}

#mycustom md-tabs-wrapper {
    height: 48px;
    /*border-top: 1px solid black;*/
}

#mycustom md-tabs-wrapper > md-tabs-canvas {
    padding-left: 4%;
    border-top: 1px solid #ffffff;
    top: -55%;
    z-index: 10;
}

#mycustom md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper {
    padding: 0px;
    height: 35px;
}

#mycustom md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > .md-tab {
    line-height: 18px;
}

#mycustom md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > .md-active {
    background-color: white;
    color: #000000;
}

#mycustom md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-ink-bar {
    display: none;
}


/*#mycustom md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item{
    background-color: white;
}*/

.mfb-component__button--main,
.mfb-component__button--child {
    background-color: black !important;
}

.navCardImg {
    max-width: 55px;
    /*max-height: 55px;*/
    box-sizing: border-box;
    border: 3px solid #8BC53F;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.myItems {
    /*width: 1300px;*/
}

#signInView {
    width: 1300px;
    height: 100vh;
}

#sideCustomNav > li > a:focus {
    outline: none;
    outline-offset: 0px;
}

#navBarImg {
    outline: none;
}

#personalSettingPage {
    width: 1300px;
}

#signUpPage {
    width: 1300px;
}

#groupPage {
    width: 1300px;
    /*height:100vh;*/
}

#createSubGroupPage {}

#creatGroup {
    width: 1300px;
}


/**/

#md-list md-list-item button.md-button:not([disabled]):hover {
    background-color: rgba(158, 158, 158, 0.2) !important;
}

.prof > svg {
    margin-top: 1px;
}

.md-button.md-fab {
    line-height: 0px;
}

md-list md-list-item button .md-button:not([disabled]):hover {
    background-color: transparent !important;
}

.serachbox2 {
    border-color: transparent !important;
}

body > md-content > div > div.toolbarContainer > div > div > md-toolbar > div {
    width: 1330px;
    text-align: center;
    margin: auto;
    margin-top: -3px;
}

#myItems > div.background > div:nth-child(1) > md-card {
    width: 723px;
    /*height: 100vh !important;*/
}

.progressCircularforNavBar {
    left: 41px;
    transform: scale(0.8) !important;
    top: -7px;
}

.groupPageGroupLogo {
    transform: scale(0.9) !important;
    top: 14px
}

.userPageGroupProgress {
    transform: scale(0.9) !important;
    top: 15px;
}

.onlineUser {
    border: 3px solid #8BC53F
}

.offlineUser {
    border: 3px solid #c51903
}

.md-toast-animating {
    width: 500px !important;
}
.imgWidthHeight{
    width: 80px !important;
    height: 80px !important;
}
.showArrow {
    margin-left: -5%;
    margin-top:8%;
    width: 34px;
    height: 34px;
}
.cardBackground{
    background-color: #FFFFFF;
}

.user-setting-tab {
    height: 35px;
    position: relative;
    width: 140px;
    max-width: 106%;
    min-width: 205%;
    text-align: center;
    margin-left: -60%;
    outline: none;
}

.user-setting-tab:before, div:after {
    opacity: 0.5;
    display:block;
    content: "";
    position:absolute;
    width: 0;
    height: 0;
}

.user-setting-tab:before {
    top: 40%; left: 0;
}

.user-setting-tab:after {
    top: 40%; right: 0;

}
.transparency{
    background-color:#FFFFFF ;
    color: black;
    margin-top: 13%;
}
.transparency:hover{
    background-color: #EFEFEF;
}
.transparency1{
    background-color:#FFFFFF ;
    color: black;
    margin-top: 13%;
}
.transparency1:hover{
    background-color: #EFEFEF;
}
.userHover{
    padding: 0px 0px 0px 0px;  !important;
    position: relative;
}
.userHover:hover{
    background-color: #0078A8;
}

.mainCard1{
    margin-top: 2%;
}
.button1{
    background-color:#EFEFEF;
    padding: 3%;
    border: none;
    outline: none;
}
.button1:hover{
    background-color: #EFEFEF;
}
.button1:visited{
    background-color: #EFEFEF;
}