<div layout="row" class="backColorLightGrey2 quiz-columns-content">
    <!-- Quiz Side -->
    <md-sidenav class="md-sidenav-left quiz-sidenav-g" md-component-id="left" md-is-locked-open="quizes.booksNav">
        <md-content layout-margin class="quiz-col md-whiteframe-1dp" style="width:95%">
            <md-toolbar md-scroll-shrink class="md-default-theme quiz-search-bar">
                <div class="md-toolbar-tools quiz-search-box-0" layout="row">
                    <h2 ng-hide="quizes.booksSearch">
                        <span>Quizes</span>
                    </h2>

                    <div flex layout="row">
                        <md-input-container class="search-input-quiz" ng-show="quizes.booksSearch">
                            <input type="text" ng-model="quizes.query"
                                   aria-label="Chapter Search Box">
                        </md-input-container>

                        <img ng-click="quizes.booksSearch = !quizes.booksSearch;"
                             ng-if="quizes.booksSearch"
                             src="img/closeIcon.png" class="close-img">

                        <div class="img-div">
                            <img ng-if="!quizes.booksSearch" src="img/1dropdown.svg"/>
                            <img ng-if="!quizes.booksSearch" src="img/1search.svg"
                                 ng-click="quizes.booksSearch = !quizes.booksSearch"/>
                        </div>
                    </div>
                </div>
            </md-toolbar>
            <div class="quiz-md-card-1">
                <md-list class="quiz-sidebar-nav">
                    <md-list-item layout-margin class="md-whiteframe-1dp book-list-item"
                                  ng-repeat="book in quizes.Quiz | filter: quizes.query track by $index"
                                  ng-click="quizes.setSelectedBook(this, $index); quizes.showQuizQuestionBank($index); quizes.showQuizes($index);"
                                  ng-class="{selectedBook: $index == quizes.selectedBookIndex,previousSelected: $index == quizes.selectedChapterIndex && quizes.selectedTopicIndex !== null}">
                        <!-- Books Side-->
                        <div layout="row" class="subgroupcard height-120px">
                            <div class="subgrouplogo height-120px">
                                <img ng-src="{{book['imgLogoUrl'] || 'img/1angular.png'}}" class="book-img"/>
                            </div>
                            <div layout="column" flex>
                                <div layout="row" layout-align="space-between center">
                                    <div layout-padding>{{book.title}}</div>
                                </div>
                                <div layout="row" layout-align="space-between end" layout-fill class="topmargin30px">
                                    <img ng-src="{{navToolbar.userObj['profile-image']||$root.userImg ||'https://s3-us-west-2.amazonaws.com/defaultimgs/user.png'}}"
                                         class="icon40px imageRound" alt="user" layout-margin/>
                                </div>
                            </div>
                        </div>

                        <md-divider></md-divider>
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </div>
            <md-button class="md-button md-fab md-mini md-fab-bottom-right"
                       aria-label="Add book" ng-click="quizes.ShowNavBar()">
                <ng-md-icon icon="add" class="fill-fff"></ng-md-icon>
            </md-button>
        </md-content>
    </md-sidenav>
    <!-- gradient Menu -->
    <div class="gradient3 quiz-menu-col">
        <a ng-click="quizes.booksNav = !quizes.booksNav" id="menu-toggle" class="menu-item-btn">
            <img ng-src="img/menu.svg" style="height: 45px;">
        </a>
        <br>
        <md-divider></md-divider>
        <br>

        <div>
            <div ng-style="(quizes.books.length == 0) && {'display':'none'}">
                <div id="quizBankIcon" ng-click="quizes.showQuizBankFunc()" class="selectedTab menu-item-btn">
                    <img ng-src="img/1book.svg" style="height: 39px;  margin-left: 20px;  "/>
                </div>
                <div id="quizIcon" ng-click="quizes.showQuiz()" class="menu-item-btn">
                    <img ng-src="img/1add_quiz.svg"/>
                </div>
                <div id="quizAssignIcon" ng-click="quizes.showAssignQuiz()" class="menu-item-btn">
                    <img ng-src="img/1calendar.svg"/>
                </div>
                <div id="quizResultIcon" ng-click="quizes.showAttemptQuiz()" class="menu-item-btn">
                    <img ng-src="img/comment.svg"/>
                </div>
            </div>
        </div>
    </div>
    <!-- Question Bank Side -->
    <md-content layout-margin class="quiz-col md-whiteframe-1dp">
        <md-toolbar md-scroll-shrink class="md-default-theme quiz-search-bar">
            <div class="md-toolbar-tools quiz-search-box-1" layout="row">
                <h2 ng-hide="quizes.quizSearch">
                    <span>Question Banks</span>
                </h2>

                <div flex layout="row">
                    <md-input-container class="search-input-quiz" ng-show="quizes.quizSearch">
                        <input type="text" ng-model="cSearch"
                               aria-label="Chapter Search Box">
                    </md-input-container>

                    <img ng-click="quizes.quizSearch = !quizes.quizSearch;"
                         ng-if="quizes.quizSearch"
                         src="img/closeIcon.png" class="close-img">

                    <div class="img-div">
                        <img ng-if="!quizes.quizSearch" src="img/1dropdown.svg"/>
                        <img ng-if="!quizes.quizSearch" src="img/1search.svg"
                             ng-click="quizes.quizSearch = !quizes.quizSearch"/>
                    </div>
                </div>
            </div>
        </md-toolbar>
        <div class="quiz-md-card-1">
            <div class="md-whiteframe-2dp quiz-md-card-item"
                 ng-repeat="questionbank in quizes.quizQuestionBanks | filter:cSearch"
                 ng-click="quizes.showQuizChapter(this, $index);"
                 ng-class="{selectedChapter: $index == quiz.selectedChapterIndex,previousSelected: $index == quiz.selectedChapterIndex && quiz.selectedTopicIndex !== null}">
                <div title="{{questionbank.desc}}" layout="row" class="item-content">
                    <img src="img/1chapter.svg">

                    <div flex layout="row" layout-align="start center">
                        <span flex="10"></span>
                        <span><b>{{questionbank.title}}</b></span>
                    </div>
                    <div class="quiz-select-item" flex="10" ng-if="$index === quiz.selectedChapterIndex" layout="column"
                         layout-align="center end">
                        <ng-md-icon class="" icon="keyboard_arrow_right"></ng-md-icon>
                    </div>
                </div>
            </div>
            <md-button class="md-button md-fab md-mini md-fab-bottom-right"
                       aria-label="Eat cake"
                       ng-click="quizes.addQBank();">
                <ng-md-icon icon="add" class="fill-fff"></ng-md-icon>
            </md-button>
        </div>
    </md-content>
    <!-- Chapter Side -->
    <md-content layout-margin class="quiz-col-margin-none md-whiteframe-1dp">
        <md-toolbar md-scroll-shrink class="md-default-theme quiz-search-bar">
            <div class="md-toolbar-tools quiz-search-box-5" layout="row">
                <h2 ng-hide="quizes.chapterSearch">
                    <span>Chapters</span>
                </h2>

                <div flex layout="row">
                    <md-input-container class="search-input-quiz" ng-show="quizes.chapterSearch">
                        <input type="text" ng-model="quizes.cSearch"
                               aria-label="Chapter Search Box">
                    </md-input-container>

                    <img ng-click="quizes.chapterSearch = !quizes.chapterSearch;"
                         ng-if="quizes.chapterSearch"
                         src="img/closeIcon.png" class="close-img">

                    <div class="img-div">
                        <img ng-if="!quizes.chapterSearch" src="img/1dropdown.svg"/>
                        <img ng-if="!quizes.chapterSearch" src="img/1search.svg"
                             ng-click="quizes.chapterSearch = !quizes.chapterSearch"/>
                    </div>
                </div>
            </div>
        </md-toolbar>
        <div class="quiz-md-card-1">
            <div class="md-whiteframe-2dp quiz-md-card-item"
                 ng-repeat="chapter in quizes.quizChapters | filter:quizes.cSearch track by $index"
                 ng-click="quizes.showTopics($index);"
                 ng-mouseenter="quizes.hover(chapter)"
                 ng-mouseleave="quizes.hover(chapter)"
                 ng-class="{selectedChapter: $index == quizes.selectedChapterIndex,
                 previousSelected: $index == quizes.selectedChapterIndex && quizes.selectedTopicIndex !== null}">
                <div title="{{chapter.description}}" layout="row" class="item-content">
                    <img src="img/1chapter.svg">

                    <div flex layout="row" layout-align="start center">
                        <span flex="10"></span>
                        <span><b>{{chapter.title | truncate:30}}</b></span>
                    </div>

                </div>
            </div>
            <md-button class="md-button md-fab md-mini md-fab-bottom-right"
                       aria-label="Eat cake"
                       ng-click="quizes.addChapter()">
                <ng-md-icon icon="add" class="fill-fff"></ng-md-icon>
            </md-button>
        </div>
    </md-content>
    <!-- Topic Side -->
    <md-content layout-margin class="quiz-col-margin-none md-whiteframe-1dp">
        <md-toolbar md-scroll-shrink class="md-default-theme quiz-search-bar">
            <div class="md-toolbar-tools quiz-search-box-2" layout="row">
                <h2 ng-hide="quizes.topicSearch">
                    <span>Topics</span>
                </h2>

                <div flex layout="row">
                    <md-input-container class="search-input-quiz" ng-show="quizes.topicSearch">
                        <input type="text" ng-model="quizes.tSearch"
                               aria-label="Chapter Search Box">
                    </md-input-container>

                    <img ng-click="quizes.topicSearch = !quizes.topicSearch;"
                         ng-if="quizes.topicSearch"
                         src="img/closeIcon.png" class="close-img">

                    <div class="img-div">
                        <img ng-if="!quizes.topicSearch" src="img/1dropdown.svg"/>
                        <img ng-if="!quizes.topicSearch" src="img/1search.svg"
                             ng-click="quizes.topicSearch = !quizes.topicSearch"/>
                    </div>
                </div>
            </div>
        </md-toolbar>
        <div class="quiz-md-card-1">
            <div class="md-whiteframe-2dp quiz-md-card-item"
                 ng-repeat="topic in quizes.QuizTopics | filter:quizes.tSearch"
                 ng-click="quizes.setSelectedTopic(topic,$index);quizes.showQuestions($index);"
                 ng-mouseenter="quizes.hover(chapter)" ng-mouseleave="quizes.hover(chapter)"
                 ng-class="{selectedTopic: $index == quizes.selectedTopicIndex,
                 previousSelected: $index == quizes.selectedTopicIndex && quizes.selectedQuestionIndex !== null}">
                <div layout="row" title="{{topic.description}}" class="item-content">
                    <img src="img/1topic.svg">

                    <div flex layout="row" layout-align="start center">
                        <span flex="10"></span>
                        <span><b>{{topic.title | truncate:30}}</b></span>
                    </div>

                </div>
            </div>
        </div>
        <md-button class="md-button md-fab md-mini md-fab-bottom-right" aria-label="Eat cake"
                   ng-click="quizes.addTopic()">
            <ng-md-icon icon="add" class="fill-fff"></ng-md-icon>
        </md-button>
    </md-content>
    <!-- Questions Side -->
    <md-content layout-margin class="quiz-col-margin-none md-whiteframe-1dp">
        <md-toolbar md-scroll-shrink class="md-default-theme quiz-search-bar">
            <div class="md-toolbar-tools quiz-search-box-3" layout="row">
                <h2 ng-hide="quizes.questionSearch">
                    <span>Qusetions</span>
                </h2>

                <div flex layout="row">
                    <md-input-container class="search-input-quiz" ng-show="quizes.questionSearch">
                        <input type="text" ng-model="quizes.qSearch"
                               aria-label="Chapter Search Box">
                    </md-input-container>

                    <img ng-click="quizes.questionSearch = !quizes.questionSearch;"
                         ng-if="quizes.questionSearch"
                         src="img/closeIcon.png" class="close-img">

                    <div class="img-div">
                        <img ng-if="!quizes.questionSearch" src="img/1dropdown.svg"/>
                        <img ng-if="!quizes.questionSearch" src="img/1search.svg"
                             ng-click="quizes.questionSearch = !quizes.questionSearch"/>
                    </div>
                </div>
            </div>
        </md-toolbar>
        <div class="quiz-md-card-1">
            <div class="md-whiteframe-2dp quiz-md-card-item"
                 ng-repeat="question in quizes.quizQuestion | filter:quizes.qSearch track by $index"
                 ng-click="quizes.setSelectedQuestion(this,$index); quizes.showQuestionView(question);quizes.booksNav = false"
                 ng-mouseenter="quizes.hover(chapter)"
                 ng-mouseleave="quizes.hover(chapter)"
                 ng-class="{selectedQuestion: $index == quizes.selectedQuestionIndex}">
                <div layout="row" title="{{question.Description}}" class="item-content">
                    <img src="img/1questions.svg">

                    <div flex layout="row" layout-align="start center">
                        <span flex="10"></span>
                        <span><b>{{question.title | truncate:30}}</b></span>
                    </div>

                </div>
            </div>
        </div>
        <md-button class="md-button md-fab md-mini md-fab-bottom-right" aria-label="Eat cake"
                   ng-click="quizes.addQuestion()">
            <ng-md-icon icon="add" class="fill-fff"></ng-md-icon>
        </md-button>
    </md-content>
    <!-- Questions Details Side -->
    <md-content layout-margin class="quiz-col-margin-none md-whiteframe-1dp">
        <md-toolbar md-scroll-shrink class="md-default-theme quiz-search-bar">
            <div class="md-toolbar-tools quiz-search-box-4">
                <h2>
                    <span>{{quizes.questionView.Title}}</span>
                </h2>
            </div>
        </md-toolbar>
        <div layout-padding class="show-question-section-main-div" ng-show="quizes.showView">
            <p><b>Type :</b> {{quizes.questionView.Type}}</p>

            <p><b>Q : {{quizes.questionView.Description}}</b></p>

            <p><b>Options :</b></p>

            <div class="options-question" ng-repeat="option in quizes.questionView.QuestionOptions">
                <span ng-if="!option.rightAnswer">Option {{$index+1}} : {{option.optionText}}</span>
                <span ng-if="option.rightAnswer">Option {{$index+1}} : {{option.optionText}}<ng-md-icon
                        icon="done"></ng-md-icon></span>
            </div>
            <div ng-if="quizes.questionView.Type === 'Radio Button'">
                <h4>Correct Answer</h4>
                <h6>{{quizes.questionView.Answer}}</h6>
            </div>
            <div ng-if="quizes.questionView.Type === 'CheckBox'">
                <h4>Correct Answers</h4>
                <h6 ng-repeat="answer in quizes.questionView.Answer">{{answer}}</h6>
            </div>
        </div>
    </md-content>
</div>


<!--Create Quiz Sidenav Start-->
<md-sidenav class="md-sidenav-right add-books-nav backColorLightSeaGreen" md-component-id="nav1">
    <ng-md-icon icon="close" size="30" class="nooutline close-icon" ng-click="quizes.closeBook()">
    </ng-md-icon>
    <div>
        <h1 class="create-sidenav-heading">Create Quiz</h1>
        <md-content class="backColorLightSeaGreen">
            <form name="bookForm" layout-padding>
                <div layout="row">

                    <md-input-container flex>
                        <label>Quiz Id</label>
                        <input name="QuizId" type="text"
                               ng-model="quizes.quizesData.id" check-quiz-existance ng-pattern="/^([a-z0-9]){3,20}$/"
                               required
                               md-sidenav-focus>

                        <div ng-show="bookForm.$submitted || bookForm.QuizId.$touched"
                             ng-messages="bookForm.QuizId.$error">
                            <div class="invalid_color" ng-message="required">This is required.</div>
                            <div class="invalid_color" ng-message="pattern">Lowercase-alpha numeric only - length 3 to
                                20
                            </div>
                            <div layout="row" class="invalid_color id_Error" ng-message="checkQuizExistance">
                                This ID is not available.
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container flex>
                        <label>Quiz Title</label>
                        <input name="QuizTitle"
                               ng-model="quizes.quizesData.name" minlength="3" maxlength="50" required
                               md-sidenav-focus> .

                        <div ng-show="bookForm.$submitted || bookForm.QuizTitle.$touched"
                             ng-messages="bookForm.QuizTitle.$error">
                            <div class="invalid_color" ng-message="required">This is required.</div>
                            <div class="invalid_color" ng-message="minlength">Required minimum length 3</div>
                            <div class="invalid_color" ng-message="maxlength">Required maximum length 50</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label>Description</label>
                    <textarea minlength="10"
                              maxlength="200" name="bookDesc"
                              required ng-model="quizes.quizesData.desc"
                              cols="25" rows="3"></textarea>

                        <div ng-show="bookForm.$submitted || bookForm.bookDesc.$touched"
                             ng-messages="bookForm.bookDesc.$error">
                            <span class="invalid_color" ng-message="required">This is required.</span>
                            <span class="invalid_color" ng-message="minlength">Required minimum length 10 </span>
                            <span class="invalid_color" ng-message="maxlength">Required maximum length 200 </span>
                        </div>
                    </md-input-container>
                </div>
                <h3>Set Quiz Poster
                    <ng-md-icon class="fill-fff" icon="info_outline"></ng-md-icon>
                </h3>
                <div class="dialog-demo-content cropper-main-button" id="cropperDialogue"
                     layout="row" layout-wrap>
                    <img ng-src="{{$root.newImg || 'img/image.svg'}}" alt="img/image.svg"
                         class="cropper-main-image nooutline" ng-click="quizes.selectQuizImage($event)"/>
                </div>
                <image-cropper></image-cropper>
            </form>
        </md-content>
        <div layout="row" layout-align="center end">
            <md-button layout="row" layout-align="center center" ng-disabled="bookForm.$invalid"
                       class="backColorSeaGreen foreColorWhite displayFlex"
                       ng-click="quizes.createQuiz(quizes.quizesData, $root.newImg); $root.newImg = null">
                <md-progress-circular ng-show="quizes.createBookLoader" md-mode="indeterminate"
                                      md-diameter="30"></md-progress-circular>
                <span> Create</span>
            </md-button>
            <md-button ng-click="quizes.closeBook()"
                       class="backColorSeaGreen color-white">
                Close
            </md-button>
        </div>
    </div>
</md-sidenav>
<!--Create Quiz Sidenav End-->

<!-- Select Question Bank Sidenav Start-->
<md-sidenav class="width-35 md-sidenav-right md-whiteframe-z2 backColorLightSeaGreen ng-scope ng-isolate-scope"
            md-component-id="nav2" tabindex="-1">
    <md-toolbar class="md-theme-light backColorSeaGreen leftrightpadding20px md-whiteframe-z2">
        <h1 class="md-toolbar-tools"><strong>Select Question Banks</strong></h1>
    </md-toolbar>
    <md-content class="backColorLightSeaGreen md-content-column-height">
        <md-list class="quiz-sidebar-nav">
            <md-list-item layout-margin class="md-whiteframe-1dp book-list-item"
                          ng-repeat="book in quizes.books track by $index"
                          ng-click="quizes.addQuestionBank(this, $index);"
                          ng-class="{selectedBook: $index == quizes.selectedBookIndex,previousSelected: $index == quizes.selectedChapterIndex && quizes.selectedTopicIndex !== null}">
                <!-- Books Side-->
                <div layout="row" class="subgroupcard height-120px">
                    <div class="subgrouplogo height-120px">
                        <img ng-src="{{book['imgLogoUrl'] || 'img/1angular.png'}}" class="book-img"/>
                    </div>
                    <div layout="column" flex>
                        <div layout="row" layout-align="space-between center">
                            <div layout-padding>{{book.title | truncate:40}}</div>
                        </div>
                        <div layout="row" layout-align="space-between end" layout-fill class="topmargin30px">
                            <img ng-src="{{navToolbar.userObj['profile-image']||$root.userImg ||'https://s3-us-west-2.amazonaws.com/defaultimgs/user.png'}}"
                                 class="icon40px imageRound" alt="user" layout-margin/>
                        </div>
                    </div>
                </div>
                <md-divider></md-divider>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </md-content>
    <div layout="row" layout-align="center center"
         class="layout-align-center-center layout-row sidenav-bottom-btn">
        <button class="md-raised md-button md-ink-ripple" type="button" aria-label="description"
                ng-click="quizes.addQBank();" md-ripple-size="auto">
            <span class="ng-scope">Done</span>
        </button>
    </div>
</md-sidenav>
<!-- Select Question Bank Sidenav End-->

<!-- Select Chapter Sidenav Start-->
<md-sidenav class="width-35 md-sidenav-right md-whiteframe-z2 backColorLightSeaGreen ng-scope ng-isolate-scope"
            md-component-id="nav5" tabindex="-1">
    <md-toolbar class="md-theme-light backColorSeaGreen leftrightpadding20px md-whiteframe-z2">
        <h1 class="md-toolbar-tools"><strong>Select Chapters</strong></h1>
    </md-toolbar>
    <md-content class="backColorLightSeaGreen md-content-column-height">
        <md-list class="quiz-sidebar-nav">
            <md-list-item layout="row" layout-align="start center"
                          ng-repeat="chapter in quizes.questionBankschapters track by $index"
                          class="buttonHover nooutline" ng-click="quizes.QuizAddchapters(chapter, $index);">
                <ng-md-icon size="24" icon="done"
                            ng-class="chapter.SelectedChapter ? 'fillColorWhite' : 'fillColorDarkGrey' "
                            class="margin-top-10px"></ng-md-icon>
                <span class="leftmargin10px foreColorWhite">{{chapter.title}}</span>
            </md-list-item>
        </md-list>
    </md-content>
    <div layout="row" layout-align="center center"
         class="layout-align-center-center layout-row sidenav-bottom-btn">
        <button class="md-raised md-button md-ink-ripple" type="button" aria-label="description"
                ng-click="quizes.addChapter()" md-ripple-size="auto">
            <span class="ng-scope">Done</span>
        </button>
    </div>
</md-sidenav>
<!-- Select Chapter Sidenav End-->

<!-- Select Topic Sidenav Start-->
<md-sidenav class="width-35 md-sidenav-right md-whiteframe-z2 backColorLightSeaGreen ng-scope ng-isolate-scope"
            md-component-id="nav4" tabindex="-1">
    <md-toolbar class="md-theme-light backColorSeaGreen leftrightpadding20px md-whiteframe-z2">
        <h1 class="md-toolbar-tools"><strong>Select Topics</strong></h1>
    </md-toolbar>
    <md-content class="backColorLightSeaGreen md-content-column-height">
        <md-list class="quiz-sidebar-nav">
            <md-list-item layout="row" layout-align="start center"
                          ng-repeat="topic in quizes.questionBankTopics track by $index"
                          class="buttonHover nooutline" ng-click="quizes.addQuizTopic(topic, $index);">
                <ng-md-icon size="24" icon="done"
                            ng-class="topic.SelectedChapter ? 'fillColorWhite' : 'fillColorDarkGrey' "
                            class="margin-top-10px">
                </ng-md-icon>
                <span class="leftmargin10px foreColorWhite">{{topic.title}}</span>
            </md-list-item>
        </md-list>
    </md-content>
    <div layout="row" layout-align="center center"
         class="layout-align-center-center layout-row sidenav-bottom-btn">
        <button class="md-raised md-button md-ink-ripple" type="button" aria-label="description"
                ng-click="quizes.addTopic();" md-ripple-size="auto">
            <span class="ng-scope">Done</span>
        </button>
    </div>
</md-sidenav>
<!-- Select Topic Sidenav End-->

<!-- Select Question Sidenav Start-->
<md-sidenav class="width-35 md-sidenav-right md-whiteframe-z2 backColorLightSeaGreen ng-scope ng-isolate-scope"
            md-component-id="nav3" tabindex="-1">
    <md-toolbar class="md-theme-light backColorSeaGreen leftrightpadding20px md-whiteframe-z2">
        <h1 class="md-toolbar-tools"><strong>Select Questions</strong></h1>
    </md-toolbar>
    <md-content class="backColorLightSeaGreen md-content-column-height">
        <md-list class="quiz-sidebar-nav">
            <md-list-item layout="row" layout-align="start center"
                          ng-repeat="question in quizes.questionbanksQuestion track by $index"
                          class="buttonHover nooutline" ng-click="quizes.QuizAddQuestion(question, $index);">
                <ng-md-icon size="24" icon="done"
                            ng-class="question.SelectedChapter ? 'fillColorWhite' : 'fillColorDarkGrey' "
                            class="margin-top-10px">
                </ng-md-icon>
                <span class="leftmargin10px foreColorWhite">{{question.title}}</span>
            </md-list-item>
        </md-list>
    </md-content>
    <div layout="row" layout-align="center center"
         class="layout-align-center-center layout-row sidenav-bottom-btn">
        <button class="md-raised md-button md-ink-ripple" type="button" aria-label="description"
                ng-click="quizes.addQuestion()" md-ripple-size="auto">
            <span class="ng-scope">Done</span>
        </button>
    </div>
</md-sidenav>
<!-- Select Question Sidenav End-->
