<style>


    .listCardHeading {
        /*text-align: center;*/
        /*vertical-align: baseline;*/
        color: #7dd9e8;
        font-size: 15px;
        margin: 19px 18px 0px 100px;
        /*display:inline-block;*/
        /*position:absolute;*/
    }

    .listCardHeading2 {
        /*text-align: center;*/
        /*vertical-align: baseline;*/
        color: #7dd9e8;
        font-size: 15px;
        margin: 19px 18px 0px 100px;
        /*display:inline-block;*/
        /*position:absolute;*/
    }

    .listCardHeading, .listCardHeading2 {
        margin-left: auto;
        margin-right: auto;
    }
    #myItems > div.background > md-content {
        margin-top: 24px !important;
    }
    body > div.md-select-menu-container.ng-scope.md-default-theme.md-active.md-clickable {
        background-color: white;
    }
    #myimg{
        display: inline-block;
        position: absolute;
        width: 33px;
        height: auto;
        /* background-color: black; */
        top: 9px;
        right: -1px;

    }
    md-autocomplete input:not(.md-input){
        font-size: 18px !important;
    }
    .inputdemoIcons .inputIconDemo {
        min-height: 48px; }
    .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
        color: green; }
    .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
        color: dodgerblue; }
    .inputdemoIcons md-input-container.md-input-invalid > md-icon.email, .inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
        color: rgb(239, 239, 239); }
    #input_3{
        /*border-color: rgba(0,0,0,0.12);*/
        border-color: transparent !important;
    }
    #select_label_4 > span:nth-child(1){
        font-size: 12px
    }
    .userGroupSubgroupImg {
        background-image: url('../img/people_button.svg');
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: 8px;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #69B0A2;
        position: absolute;
        z-index: 9;
        /* bottom: inherit; */
        margin: 10px 30px;
    }
    .fontset{
        font-size: 16px !important;
    }
    .fontset:nth-child(1) {
        position: relative;
        left: 20px;
    }
    .fontset:nth-child(2){
        position: relative;
        left: 31px;
    }
    .fontset:nth-child(3){
        position: relative;
        left: 41px;
    }
    .fontset:nth-child(4){
        position: relative;
        left: 26px;
    }
    .user_listItems {
        box-shadow: none;
        padding: 0;
        margin: 0px;
        position: relative;
        /*top: -83px;*/
    }
    body > md-content > div > div.marginContainer > div > div > div.background > div:nth-child(1) > md-card > div > md-toolbar > div {
        width: 100%;
        /* padding: 0 16px; */
        position: relative;
        top: 23px;
        margin-left: 50px;
    }
    .roundShape{
        display: block;
        margin: auto;
        width: 54px;
        height: 54px;
        border-radius: 27px;
        border: 3px solid rgb(197, 25, 3);
        margin-left: 10px;
    }
</style>

<div  id="myItems">
    <div class="subheaderBar"></div>
    <div layout="row" layout-margin layout-fill layout-padding class="background">
        <!-- ================================================================================-->
        <div flex="55" style="z-index: 9;">
            <!--<md-card style="width: 723px ;height: 625px"  >-->
            <md-card style="width: 723px ; height: 90vh">
            <md-content>
             <md-toolbar class=" md-theme-light"style="background-color: #ffffff">
            <h2 class="md-toolbar-tools">
                <div flex >
                    <div style="position: relative;">
                        <!--<md-input class="serchbox"></md-input>-->
                        <!--<style>
                            md-autocomplete input:not(.md-input){
                                font-size: 18px !important;
                            }
                            .inputdemoIcons .inputIconDemo {
                                min-height: 48px; }
                            .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
                                color: green; }
                            .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
                                color: dodgerblue; }
                            .inputdemoIcons md-input-container.md-input-invalid > md-icon.email, .inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
                                color: rgb(239, 239, 239); }
                            #input_3{
                                 /*border-color: rgba(0,0,0,0.12);*/
                                border-color: transparent !important;
                            }
                        </style>-->
                        <div class="userListSearchbox" style="background-color: rgb(239, 239, 239);">

<!--   <md-input-container class="md-icon-float md-block">
      <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
      <input ng-model="user.name" type="text">
    </md-input-container>
 -->
                            <md-input-container layout-padding md-no-float>
                                <md-icon layout-margin md-svg-src="../../img/search.svg"></md-icon>
                                <input   ng-model="user.searchbox" type="text" ng-change="$root.searchFn(user.searchbox,2)"  placeholder="User Name">
                            </md-input-container>
                        </div>


                       <!-- <md-autocomplete style="background-color: rgb(239, 239, 239);"   class="searchbox"
                                         md-search-text-change="null"

                                         md-selected-item-change="ctrl.selectedItemChange(item)"
                                         md-items="item in ctrl.querySearch(ctrl.searchText)"
                                         md-item-text="item.display"
                                         placeholder="Use User Name or Group_subgroup">

                            &lt;!&ndash;<md-item-template>&ndash;&gt;
                            &lt;!&ndash;<span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>&ndash;&gt;
                            &lt;!&ndash;</md-item-template>&ndash;&gt;
                        </md-autocomplete>-->
                        <!--<img id="myimg" src="../../img/search.svg" alt="search"/>-->
                    </div>
                </div>
                <div offset="5">
                    <!--<div layout="column" layout-align="center left" flex>
                        <md-select placeholder="EveryOne" ng-model="someVal" class="user">
                            <md-option value="1">One</md-option>
                            <md-option value="2">Two</md-option>
                            <md-option value="3">EveryOne</md-option>
                        </md-select>
                    </div>-->
                    <div id="abc_" layout="column"  layout-align="center center" style=" position: relative;
    top: 11px;height: 100px;">
                        <md-select style="color:black;font-size: 16px;" placeholder="SUBGROUPS" ng-model="user.dropbox" ng-change="$root.searchFn(user.dropbox,1)" >
                            <!--<style>
                                #select_label_4 > span:nth-child(1){
                                    font-size: 12px
                                }
                            </style>-->
                            <!--<md-select-label style="color:black;font-size: 16px;">SUBGROUPS</md-select-label>-->
                            <md-option value="any">Every One</md-option>
                            <md-option  ng-repeat="(key,groups) in user.userMemData.data.groupSubgroupData">{{key}}</md-option>
                        </md-select>

                    </div>
                </div>
            </h2>

            <md-divider></md-divider>
            <div>
                <!--<style>
                .userGroupSubgroupImg {
                    background-image: url('../img/people_button.svg');
                    background-repeat: no-repeat;
                    background-size: 25px;
                    background-position: 8px;
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    background-color: #69B0A2;
                    position: absolute;
                    z-index: 9;
                    /* bottom: inherit; */
                    margin: 10px 30px;
                }
                </style>-->
                <div class="userGroupSubgroupImg"></div>
                <md-toolbar class="md-theme-light" layout="row" style="background-color: white">
                    <!--<div flex="10"></div>-->
                    <div layout="row" style="width: 100%;padding: 0 16px">
                        <!--<div layout="row" >-->
                        <div flex="15">
                            <!--<img ng-src='../../img/card.jpg' alt="" class="md-avatar img-circle">-->
                        </div>
                        <!--<style>
                            .fontset{
                                font-size: 16px !important;
                            }
                            .fontset:nth-child(1) {
                                position: relative;
                                left: -16px;
                            }
                            .fontset:nth-child(2){
                                position: relative;
                                left: -5px;
                            }
                            .fontset:nth-child(3){
                                position: relative;
                                left: 8px;
                            }
                            .fontset:nth-child(4){
                                position: relative;
                                left: 16px;
                            }
                        </style>-->
                        <div flex="85" class="userToolBar" layout="row">
                            <div flex="25" class="listCardHeading fontset">Name</div>
                            <div flex="25" class="listCardHeading fontset">Phone</div>
                            <div flex="25" class="listCardHeading fontset">Group</div>
                            <div flex="25" class="listCardHeading fontset">Last Modified</div>
                        </div>
                    </div>
                </md-toolbar>
                <md-divider></md-divider>
            </div>

            <!--user list code-->
            <!--<style>
                .user_listItems {
                    box-shadow: none;
                    padding: 0;
                    margin: 0px;
                    position: relative;
                    /*top: -83px;*/
                }
            </style>-->
            <md-card class="user_listItems">
                <md-content class="grayScroller">

                    <md-list>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <!--<div flex="10"></div>-->
                                <!--<style>
                                    body > md-content > div > div.marginContainer > div > div > div.background > div:nth-child(1) > md-card > div > md-toolbar > div {
                                        width: 100%;
                                        /* padding: 0 16px; */
                                        position: relative;
                                        top: 23px;
                                        margin-left: 50px;
                                    }
                                    .roundShape{
                                        display: block;
                                        margin: auto;
                                        width: 54px;
                                        height: 54px;
                                        border-radius: 27px;
                                        border: 3px solid rgb(197, 25, 3);
                                        margin-left: 10px;
                                    }
                                </style>-->
                                <div layout="row" ng-repeat="(key, userObj) in user.userMemData.data.flattenedsubGroupsByuser " ng-show="userObj.show"  class="margining " style="margin-bottom: 17px;">
                                    <div flex="10" class="circular">
                                        <!--<img ng-src="{{userObj['profile-image']}}" class="userCardImg " ng-style="{(userObj.type == 2) && {'border':'green'} ||{'border':'red'} }">-->
                                        <img ng-src="{{userObj['profile-image']||'https://s3-us-west-2.amazonaws.com/defaultimgs/user.png'}}"
                                             class="roundShape"
                                             ng-style="userObj.type == 1 ? {'border':'3px solid #8BC53F'} :{'border':'3px solid #c51903'} ">                                             <!--ng-style="userObj.type == 1 ? 'onlineUser' :'offlineUser' ">-->
                                             <!--ng-style="userObj.type == 1 ? {'border':'3px solid #8BC53F'} :{'border':'3px solid #c51903'} ">-->
                                    </div>
                                    <div flex="90" layout="row">
                                        <div flex="25" class="listCardHeading2" style="color: black">{{userObj.firstName + '' + userObj.lastName}}</div>
                                        <div flex="25" class="listCardHeading2" style="color: #909090">{{userObj.contactNumber || 'No number'}}
                                        </div>
                                        <!--<div flex="25" class="listCardHeading2" style="color: #909090">{{userObj.groupID + '>' + userObj.subgroupID}}-->
                                        <div flex="25" class="listCardHeading2" style="color: #909090; margin-top: 16px">
                                            <span>{{userObj.groupID + '>'}}</span>
                                            <span>{{userObj.subgroupID}}</span>
                                        </div>
                                        <div flex="25" class="listCardHeading2" style="color: #909090">{{userObj.timestamp |date:'MM/dd/yyyy @ h:mma'}}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </md-list-item>
                    </md-list>


                </md-content>
            </md-card>
            </md-content>

            </md-card>


            
        </div>
        <div flex="30">
            <!--<md-content style="height: 628px;width: 473px;overflow-x: hidden;margin-top: 5px;z-index: 1;" class="greenScroller">-->
            <md-content style="height: 90vh ;width: 473px;overflow-x: hidden;margin-top: 5px;z-index: 1;" class="greenScroller" >
                <div layout="row" style="width: 480px" layout-wrap>
                    <!--<div layout="column" style="width: 235px;height:285px;color: #676767"
                         ng-repeat='(key,prop) in user.userObj track by key'>-->
                        <div layout="column" style="width: 235px;height:285px;color: #676767; margin-bottom: 10px;"
                         ng-repeat='key in user.userObj track by $index'>
                        <!--<md-card style="margin: 3px;" ng-init="flags = {flag1:true}" ng-show="flags.flag1"-->
                        <md-card ng-init="flags = {flag1:true}" ng-show="flags.flag1"
                                 id="{{'gCard'+$index}}">
                            <md-card-content style="padding: 8px !important;">
                                <div layout="row" layout-align="center center" style="margin-top:5%">
                                    <div flex="75">
                                        <a ui-sref="user.group({groupID: key.$id})"><img ng-src=" {{ key.groupUrl || 'https://s3-us-west-2.amazonaws.com/defaultimgs/teamofteams.png'}}"
                                                                               class="md-card-image"
                                                                               alt="Washedcd c Out"
                                                                               style="width: 188px;height:80px;margin-left: -14px"></a>
                                    </div>
                                </div>
                                <div layout="column" layout-align="start center"
                                     style="margin-top:8%;position: relative;">
                                    <span ui-sref="user.group({groupID: key.$id})" class="md-headline">{{key.$id}}</span>
                                    <md-icon ng-src="{{key.userImg }}" class="user-locations"></md-icon>
                                    <span ui-sref="user.group({groupID: key.$id})" class="md-subhead">Panacloud</span>
                                    
                                </div>
                                <div layout="row" layout-align="start start"
                                     style="border-top: 2px solid #dddddd;position: relative;margin-top:15%">
                                    <md-button class="md-fab cards-button" aria-label="User Status"
                                               style="background-color: #31B4CB;" ng-click="user.showGroupDetails(key.$id);flags.flag2 = true;flags.flag1 = false;user.changeShow1(key.$id,flags,'flag3',$index,$event)">
                                        <ng-md-icon icon="add" style="fill: #ffffff" size="20" id="prof"></ng-md-icon>                                      
                                    </md-button>
                                    <div>
                                        <md-list>
                                            <md-list-item class="md-3-line" style="border-right: 2px solid #dddddd">
                                                <img ng-src="{{key.userImg || 'https://s3-us-west-2.amazonaws.com/defaultimgs/user.png'}}" class="md-avatar" alt=""/>
                                            </md-list-item>
                                        </md-list>
                                    </div>
                                    <div>
                                        <md-list>
                                            <md-list-item class="md-3-line">
                                                <md-progress-circular class="md-accent userPageGroupProg"></md-progress-circular>
                                            </md-list-item>
                                        </md-list>
                                    </div>
                                </div>
                            </md-card-content>
                        </md-card>

                        <div layout="column" style="width: 235px;height:285px;color: #676767;margin: -5px;"
                             ng-show="flags.flag2">

                            <md-card style="width: 229px;height: 285px;background-color: #31B4CB;color:#ffffff;"
                                     id="profile-card1">

                                <md-card-content>
                                    <img ng-src="" alt=""/>
                                </md-card-content>
                            </md-card>

                        </div>

                        <div layout="column" style="width: 235px;height:auto;color: #676767;margin: -5px;"
                             ng-show="flags.flag3">

                            <md-card style="width: 229px;min-height: 280px !important;background-color: #31B4CB;color:#ffffff;"
                                     id="profile-card">

                                <md-card-content>
                                    <ng-md-icon icon="clear" size="20" style="fill:#ffffff;padding-top:20px;z-index: 15"
                                                id="profile-card-clear-icon"
                                                ng-click="user.deleteAll(); flags={};flags.flag1=true"></ng-md-icon>
                                    <md-tabs md-align-tabs="bottom" id="mycustom">

                                        <md-tab label="Info">
                                            <md-content>
                                                <div layout="row" layout-wrap id="custom-layout-margin"
                                                     style="background-color: #31B4CB;color:#ffffff">
                                                    <div ng-repeat="n in user.groupMembers">
                                                        <md-list>
                                                            <md-list-item class="md-3-line" style="height: 48px;">
                                                                <img ng-src="img/washedout.png" class="md-avatar"
                                                                     alt=""/>
                                                            </md-list-item>
                                                            <span style="margin-left: 22%"
                                                                  class="md-caption">{{n}}</span>
                                                        </md-list>
                                                    </div>
                                                </div>
                                            </md-content>
                                        </md-tab>
                                        <md-tab label="Ofline">
                                            <md-content>
                                                <!--<p>{{key}}</p>-->
                                                <div layout="row" layout-wrap
                                                     style="background-color: #31B4CB;color:#ffffff">
                                                    <div ng-repeat="f in user.offlineGroupMembers">
                                                        <md-list>
                                                            <md-list-item class="md-3-line" style="height: 48px;">
                                                                <img ng-src="img/washedout.png" class="md-avatar"
                                                                     alt=""/>
                                                            </md-list-item>
                                                            <span style="margin-left: 22%"
                                                                  class="md-caption">{{f.$id}}</span>
                                                        </md-list>
                                                    </div>
                                                </div>
                                            </md-content>
                                        </md-tab>
                                        <md-tab label="Online">
                                            <md-content>
                                                <div layout="row" layout-wrap
                                                     style="background-color: #31B4CB;color:#ffffff">
                                                    <div ng-repeat="f in user.onlineGroupMembers">
                                                        <md-list>
                                                            <md-list-item class="md-3-line" style="height: 48px;">
                                                                <img ng-src="img/washedout.png" class="md-avatar"
                                                                     alt=""/>
                                                            </md-list-item>
                                                            <span style="margin-left: 22%"
                                                                  class="md-caption">{{f.$id}}</span>
                                                        </md-list>
                                                    </div>
                                                </div>
                                            </md-content>
                                        </md-tab>
                                    </md-tabs>
                                </md-card-content>
                            </md-card>
                        </div>
                    </div>

                    <!--<div layout="column" style="width: 235px;height:285px;color: #676767;margin: -5px;">

                        <md-card style="width: 229px;height: 275px;background-color: #31B4CB;color:#ffffff;" id="profile-card">

                            <md-card-content>
                                <ng-md-icon icon="clear"  size="20" style="fill:#ffffff;padding-top:20px" id="profile-card-clear-icon"></ng-md-icon>
                                <md-tabs md-align-tabs="bottom" id="mycustom">

                                    <md-tab label="Info">
                                        <md-content>
                                            <div layout="row" layout-wrap id="custom-layout-margin" style="background-color: #31B4CB;color:#ffffff">
                                                <div ng-repeat="n in [42, 43, 44, 45,46, 47, 48, 49,50]" >
                                                    <md-list>
                                                        <md-list-item class="md-3-line" style="height: 48px;">
                                                            <img ng-src="img/washedout.png" class="md-avatar" alt="" />
                                                            &lt;!&ndash;<img ng-src="{{'https://s3-us-west-2.amazonaws.com/test2pwow/groupProfileBucket/xyz.jpeg' | trustUrl}}" class="md-avatar" alt="" />&ndash;&gt;
                                                        </md-list-item>
                                                        <span style="margin-left: 22%" class="md-caption">Haseeb</span>
                                                    </md-list>
                                                </div>
                                                &lt;!&ndash;<div>
                                                    <md-list>
                                                        <md-list-item class="md-3-line" style="border-right: 2px solid #dddddd" ng-repeat="n in [42, 43, 44, 45,46, 47, 48, 49,50]">
                                                            <img ng-src="img/washedout.png" class="md-avatar" alt="" />
                                                        </md-list-item>
                                                    </md-list>
                                                </div>&ndash;&gt;
                                            </div>
                                        </md-content>
                                    </md-tab>
                                    <md-tab label="Ofline">
                                        <md-content>
                                            <p>This is the Second Tab</p>
                                        </md-content>
                                    </md-tab>
                                    <md-tab label="Online">
                                        <md-content>
                                            <p>This is the Third Tab</p>
                                        </md-content>
                                    </md-tab>
                                </md-tabs>
                            </md-card-content>
                        </md-card>
                    </div>-->

                </div>

            </md-content>



        </div>

        <!--button side-->
        <div flex="15">
            <nav style="position:absolute;top: 173px;" mfb-menu position="tr" effect="zoomin" resting-icon="ion-plus-round"
                 toggling-method="click" id="sideCustomNav">
                <button mfb-button label="Add" id="sideButtonAdd" ng-click="user.openCreateGroupPage()"></button>
                <!-- <button mfb-button label="JoinGroup" id="sideButtonSearch" ui-sref="user.join-group"></button> -->
                <button mfb-button label="JoinGroup" id="sideButtonSearch" ng-click="user.openJoinGroupPage()"></button>
                <button mfb-button label="Delete" id="sideButtondelete"></button>
            </nav>
        </div>
    </div>
    <!--<md-toast>hELLO</md-toast>-->
</div>