<div layout="column" style="width: 235px;height:285px;color: #676767; margin-bottom: 10px;" ng-repeat='key in user.groups track by $index'>
                        <!--<md-card style="margin: 3px;" ng-init="flags = {flag1:true}" ng-show="flags.flag1"-->
                        <md-card ng-init="flags = {flag1:true}" ng-show="flags.flag1" id="{{'gCard'+$index}}">
                            <md-card-content style="padding: 8px !important;">
                                <div layout="row" layout-align="center center" style="margin-top:5%">
                                    <div flex="75">
                                        <a ui-sref="user.group({groupID: key.groupID})"><img ng-src=" {{ key.imgUrl || 'https://s3-us-west-2.amazonaws.com/defaultimgs/teamofteams.png'}}" class="md-card-image" alt="group image" style="width: 80px;height:80px; margin-left: 35px;"></a>
                                    </div>
                                </div>
                                <div layout="column" layout-align="start center" style="margin-top:8%;position: relative;">
                                    <span ui-sref="user.group({groupID: key.groupID})" class="md-headline">{{key.title}}</span>
                                    <!-- <md-icon ng-src="{{key.userImg }}" class="user-locations"></md-icon> -->
                                    <span ui-sref="user.group({groupID: key.groupID})" class="md-subhead">
                                        Panacloud
                                    </span>
                                </div>
                                <div layout="row" layout-align="start start" style="border-top: 2px solid #dddddd;position: relative;margin-top:15%">
                                    <!-- <md-button class="md-fab cards-button" aria-label="User Status"
                                               style="background-color: #31B4CB;" ng-click="user.showGroupDetails(key.$id);flags.flag2 = true;flags.flag1 = false;user.changeShow1(key.$id,flags,'flag3',$index,$event)"> -->
                                    <md-button class="md-fab cards-button" aria-label="User Status" style="background-color: #31B4CB;">
                                        <ng-md-icon icon="add" style="fill: #ffffff" size="20" id="prof"></ng-md-icon>
                                    </md-button>
                                    <div>
                                        <md-list>
                                            <md-list-item class="md-3-line" style="border-right: 2px solid #dddddd">
                                                <img ng-src="{{key.owerImgUrl || 'https://s3-us-west-2.amazonaws.com/defaultimgs/user.png'}}" class="md-avatar" alt="" />
                                            </md-list-item>
                                        </md-list>
                                    </div>
                                    <div>
                                        <md-list>
                                            <md-list-item class="md-3-line">
                                                <md-progress-circular ng-value="key.membersPercentage" class="md-accent userPageGroupProg"></md-progress-circular>
                                                <span style="position: absolute; top: 5px; right: 33px; font-size: 2em;">{{key.membersPercentage}}</span>
                                            </md-list-item>
                                        </md-list>
                                    </div>
                                </div>
                            </md-card-content>
                        </md-card>
                        <div layout="column" style="width: 235px;height:285px;color: #676767;margin: -5px;" ng-show="flags.flag2">
                            <md-card style="width: 229px;height: 285px;background-color: #31B4CB;color:#ffffff;" id="profile-card1">
                                <md-card-content>
                                    <img ng-src="" alt="" />
                                </md-card-content>
                            </md-card>
                        </div>
                        <div layout="column" style="width: 235px;height:auto;color: #676767;margin: -5px;" ng-show="flags.flag3">
                            <md-card style="width: 229px;min-height: 280px !important;background-color: #31B4CB;color:#ffffff;" id="profile-card">
                                <md-card-content>
                                    <ng-md-icon icon="clear" size="20" style="fill:#ffffff;padding-top:20px;z-index: 15" id="profile-card-clear-icon" ng-click="user.deleteAll(); flags={};flags.flag1=true"></ng-md-icon>
                                    <md-tabs md-align-tabs="bottom" id="mycustom">
                                        <md-tab label="Info">
                                            <md-content>
                                                <div layout="row" layout-wrap id="custom-layout-margin" style="background-color: #31B4CB;color:#ffffff">
                                                    <div ng-repeat="n in user.groupMembers">
                                                        <md-list>
                                                            <md-list-item class="md-3-line" style="height: 48px;">
                                                                <img ng-src="img/washedout.png" class="md-avatar" alt="" />
                                                            </md-list-item>
                                                            <span style="margin-left: 22%" class="md-caption">{{n}}</span>
                                                        </md-list>
                                                    </div>
                                                </div>
                                            </md-content>
                                        </md-tab>
                                        <md-tab label="Ofline">
                                            <md-content>
                                                <!--<p>{{key}}</p>-->
                                                <div layout="row" layout-wrap style="background-color: #31B4CB;color:#ffffff">
                                                    <div ng-repeat="f in user.offlineGroupMembers">
                                                        <md-list>
                                                            <md-list-item class="md-3-line" style="height: 48px;">
                                                                <img ng-src="img/washedout.png" class="md-avatar" alt="" />
                                                            </md-list-item>
                                                            <span style="margin-left: 22%" class="md-caption">{{f.$id}}</span>
                                                        </md-list>
                                                    </div>
                                                </div>
                                            </md-content>
                                        </md-tab>
                                        <md-tab label="Online">
                                            <md-content>
                                                <div layout="row" layout-wrap style="background-color: #31B4CB;color:#ffffff">
                                                    <div ng-repeat="f in user.onlineGroupMembers">
                                                        <md-list>
                                                            <md-list-item class="md-3-line" style="height: 48px;">
                                                                <img ng-src="img/washedout.png" class="md-avatar" alt="" />
                                                            </md-list-item>
                                                            <span style="margin-left: 22%" class="md-caption">{{f.$id}}</span>
                                                        </md-list>
                                                    </div>
                                                </div>
                                            </md-content>
                                        </md-tab>
                                    </md-tabs>
                                </md-card-content>
                            </md-card>
                        </div>
                    </div>