<md-dialog aria-label="{{questionData.Title}}">
    <form>
        <md-toolbar style="width: 650px; background-color: #31B4CB">
            <div class="md-toolbar-tools">
                <h2>{{questionData.Title}}</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <h4 style="font-weight: 500; color: #32B4CC;">Description</h4>
            <h5 style="margin-left: 4%;white-space: pre;">{{questionData.Description}}</h5>
            <h4 style="font-weight: 500; color: #32B4CC;">Question Type</h4>
            <h5 style="margin-left: 4%">{{questionData.Type}}</h5>
            <h4 style="font-weight: 500; color: #32B4CC;">Question Options</h4>
            <div ng-if="questionData.Type === 'Radio Button'">
                <h5 ng-repeat="option in questionData.QuestionOptions" style="margin-left: 4%">
                    <div ng-if="option.rightAnswer == true">
                        <ng-md-icon icon="done" style="fill: green"></ng-md-icon><span style="white-space: pre;"> Option {{$index+1}} : {{option.optionText}}</span>
                    </div>
                    <div ng-if="option.rightAnswer != true">
                        <span style="margin-left: 5%;white-space: pre;"> Option {{$index+1}} : {{option.optionText}} </span>
                    </div>
                </h5>
            </div>
            <div ng-if="questionData.Type === 'CheckBox'">
                <h5 ng-repeat="option in questionData.QuestionOptions" style="margin-left: 4%">
                    <h5 ng-repeat="option in questionData.QuestionOptions" style="margin-left: 4%">
                        <div ng-if="option.rightAnswer == true">
                            <ng-md-icon icon="done" style="fill: green"></ng-md-icon><span style="white-space: pre;"> Option {{$index+1}} : {{option.optionText}}</span>
                        </div>
                        <div ng-if="option.rightAnswer != true">
                            <span style="margin-left: 5%;white-space: pre;"> Option {{$index+1}} : {{option.optionText}} </span>
                        </div>
                    </h5>
                </h5>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="answer('Close')" class="md-primary">
                Close
            </md-button>
        </div>
    </form>
</md-dialog>
