<md-card ng-controller="ChartsCheckinCtrl">
    <div class="cardHeader" style="padding-top: 1px; padding-bottom: 1px; padding-left: 10px;">
        <h2>Checkin summary</h2>
    </div>
    <div class="md-tile-content">
        <div layout="row">
            <div flex>
                <div ng-if="chartGroupActive" ac-chart="chartType" ac-data="chartGroupData" ac-config="chartGroupConfig" class="chart"></div>
            </div>
            <!--<div flex>-->
            <!--<div ng-if="chartActive" ac-chart="chartType" ac-data="chartData" ac-config="chartTeamConfig" class="chart1"></div>-->
            <!--</div>-->
            <!--<div flex>-->
            <!--<div ng-if="chartActive" ac-chart="chartType" ac-data="chartData" ac-config="chartTeamConfig" class="chart1"></div>-->
            <!--</div>-->
            <!--<div flex>-->
            <!--<div ng-if="chartActive" ac-chart="chartType" ac-data="chartData" ac-config="chartTeamConfig" class="chart1"></div>-->
            <!--</div>-->
            <!--<div flex>-->
            <!--<div ng-if="chartActive" ac-chart="chartType" ac-data="chartData" ac-config="chartTeamConfig" class='chart1'></div>-->
            <!--</div>-->
        </div>
        <!--<div class="marLeft25" layout="row">-->
        <!--<div flex>-->
        <!--&lt;!&ndash;<div ng-if="chartActive" ac-chart="chartType" ac-data="chartData" ac-config="chart2Config" class='chart2'></div>&ndash;&gt;-->
        <!--</div>-->
        <!--<div flex>-->
        <!--<div ng-if="chartActive" ac-chart="chartType" ac-data="chartData" ac-config="chartSubTeamConfig" class='chart2'></div>-->
        <!--</div>-->
        <!--<div flex>-->
        <!--<div ng-if="chartActive" ac-chart="chartType" ac-data="chartData" ac-config="chartSubTeamConfig" class='chart2'></div>-->
        <!--</div>-->
        <!--<div flex>-->
        <!--<div ng-if="chartActive" ac-chart="chartType" ac-data="chartData" ac-config="chartSubTeamConfig" class='chart2'></div>-->
        <!--</div>-->
        <!--<div flex>-->
        <!--<div ng-if="chartActive" ac-chart="chartType" ac-data="chartData" ac-config="chartSubTeamConfig" class='chart2'></div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="marLeft25" layout="row">-->
        <!--<div flex>-->
        <!--&lt;!&ndash;<div ng-if="chartActive" ac-chart="chartType" ac-data="chartData" ac-config="chart3Config" class='chart3'></div>&ndash;&gt;-->
        <!--</div>-->
        <!--<div flex>-->
        <!--<div ng-if="chartActive" ac-chart="chartType" ac-data="chartData" ac-config="chartSubTeam2Config" class='chart2'></div>-->
        <!--</div>-->
        <!--<div flex>-->
        <!--<div ng-if="chartActive" ac-chart="chartType" ac-data="chartData" ac-config="chartSubTeam2Config" class='chart2'></div>-->
        <!--</div>-->
        <!--<div flex>-->
        <!--<div ng-if="chartActive" ac-chart="chartType" ac-data="chartData" ac-config="chartSubTeam2Config" class='chart2'></div>-->
        <!--</div>-->
        <!--<div flex>-->
        <!--<div ng-if="chartActive" ac-chart="chartType" ac-data="chartData" ac-config="chartSubTeam2Config" class='chart2'></div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</md-card>
