<div ng-controller="CheckinBySubgroupHomeCtrl">
    <md-card>
        <div class="cardHeader" style="padding-top: 1px; padding-bottom: 1px; padding-left: 10px">
            <h2>Checkin System</h2>
        </div>
        <p style="margin-left: 5px">
            Checkin System helps members to update checkin status for the organisation(s), and It helps
            Organisation Admins to view all members 's checkin updates in real-time.
        </p>
    </md-card>
    <div layout="row">
        <md-card flex="66">
            <div layout="row" class="cardHeader">
                <h2 class="cardHeaderTitle">Members</h2>
            </div>
            <md-list layout="row" layout-align="center start" class="no-padng-margn">
                <div flex="50" style="border-right: 1px solid gainsboro">
                    <h3 class="no-padng-margn list-h3">In List</h3>
                    <md-item ng-repeat="(key, member) in members| array |filter:filterIn">
                        <md-item-content class="content-height">
                            <div class="md-tile-left" style="margin-left: 12px; margin-right: -8px;">
                                <img class="imgRadius" get-gravatar="{{member.profile.email}}" watch="member.profile.email"/>
                            </div>
                            <div class="md-tile-content">
                                <div ng-click="goToMember(member.profile)" class="selectable">
                                    <h3>@{{member.profile.$id}}</h3>
                                    <h4>{{member.profile.firstName + ' ' + member.profile.lastName}}</h4>
                                </div>
                                <p>{{ ( member.currentStatus.type === 1 ? 'In' : 'Out' ) + ': ' + member.currentStatus.message}}</p>
                                <p>{{'Last Updated: ' + ( member.currentStatus.timestamp | date: 'medium' )}}</p>
                                <p ng-show="isAdmin">
                                    Location:
                                    <span ng-show="member.currentStatus.location" ng-click="showLocation( $event, member, true )" class="selectable">{{ getLocationName( member.currentStatus, definedGroupLocations ) }}</span>
                                    <span ng-hide="member.currentStatus.location">Not Available</span>
                                </p>
                            </div>
                        </md-item-content>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-item>
                </div>
               <div flex="50" style="border-left: 1px solid gainsboro">
                   <h3 class="no-padng-margn list-h3">Out List</h3>
                   <md-item ng-repeat="(key, member) in members| array |filter:filterOut">
                       <md-item-content  class="content-height">
                           <div class="md-tile-left" style="margin-left: 12px; margin-right: -8px;">
                               <img class="imgRadius" get-gravatar="{{member.profile.email}}" watch="member.profile.email"/>
                           </div>
                           <div class="md-tile-content">
                               <div ng-click="goToMember(member.profile)" class="selectable">
                                   <h3>@{{member.profile.$id}}</h3>
                                   <h4>{{member.profile.firstName + ' ' + member.profile.lastName}}</h4>
                               </div>
                               <p>{{ ( member.currentStatus.type === 1 ? 'In' : 'Out' ) + ': ' + member.currentStatus.message}}</p>
                               <p>{{'Last Updated: ' + ( member.currentStatus.timestamp | date: 'medium' )}}</p>
                               <p ng-show="isAdmin">
                                   Location:
                                   <span ng-show="member.currentStatus.location" ng-click="showLocation( $event, member, true )" class="selectable">{{ getLocationName( member.currentStatus, definedGroupLocations ) }}</span>
                                   <span ng-hide="member.currentStatus.location">Not Available</span>
                               </p>
                           </div>
                       </md-item-content>
                       <md-divider ng-if="!$last"></md-divider>
                   </md-item>
               </div>
            </md-list>
        </md-card>
        <md-card flex>
            <div style="margin-left: 12px" layout="row">
                <div>
                    <img class="imgRadius" style="margin-top: 14px;" get-gravatar="{{user.email}}" watch="user.email"/>
                </div>
                <div class="md-tile-content">
                    <h3>{{user.firstName + ' ' + user.lastName}}</h3>
                    <h4>{{isAdmin ? 'Admin' : 'Member'}}</h4>
                </div>
            </div>
            <md-divider></md-divider>
            <div ng-show="$parent.isAdmin" style="padding-left: 12px">
                <h3>Locations</h3>
                <!--<h5 class="selectable" ng-show="geoLocationSupport" ng-click="showAddLocation($event)">Add a new location</h5>-->
                <h5 class="selectable" ng-show="geoLocationSupport" ng-click="showAddLocation($event)"><span ng-bind="getLocationStatus()"></span></h5>
                <md-list layout="column">
                    <md-item ng-repeat="loc in (definedGroupLocations||definedSubGroupLocations)">
                        <md-item-content>
                            <div class="md-tile-left">
                                <md-icon icon="images/icons/ic_room_48px.svg" style="width: 48px; height: 48px; margin: 16px"></md-icon>
                            </div>
                            <div class="md-tile-content">
                                <!--<h4 ng-click="showLocation( $event, loc, false )" class="selectable">{{loc.title}}</h4>-->
                                <h4 class="selectable" ng-click="showLocation( $event, loc, false )">{{loc.title}}</h4>
                                <span>defined-by: {{ loc['defined-by'] }}</span>
                            </div>
                        </md-item-content>
                    </md-item>
                </md-list>
            </div>
        </md-card>
    </div>
</div>
