<div layout="row" layout-padding layout-margin >
    <div layout="column" layout-align="start center" class="nomargin nopadding md-whiteframe-z1 backColorDarkSeaGreen" style="max-height: 287px">
        <md-button ng-click="userSetting.editgroupPage()" style="margin: 0px; width:100%">
            <img src="../../img/6sami.svg" style="width: 33px;height: 33px;margin-bottom: -15px;" />
            <div style="color: white;">TEAM OF TEAMS</div>
        </md-button>
        <md-button style="margin: 0px; width:100%" class="backColorSeaGreen">
            <img src="../../img/3sami.svg" style="width: 33px;height: 33px;margin-bottom: -15px;" />
            <div style="color: white;">Members</div>
        </md-button>
        <md-button ng-click="userSetting.openGeoFencingPage()" style="margin: 0px; width:100%">
            <img src="../../img/5sami.svg" style="width: 33px;height: 33px;margin-bottom: -15px;">
            <div style="color: white;">Fencing</div>
        </md-button>
        <md-button ng-click="userSetting.openCreateSubGroupPage()" style="margin: 0px; width:100%">
            <img src="../../img/4sami.svg" style="width: 33px;height: 33px;margin-bottom: -15px;">
            <div style="color: white;">Teams</div>
        </md-button>
    </div>
    <div flex layout-padding class="backColorWhite nomargin nopadding" name="memberSetingDiv" novalidate>
        <h1 style="color: #d3d3d3;" class="nomargin" layout-padding>Members Setting</h1>
        <md-divider md-outset class="nopadding"></md-divider>
        <md-content layout="row" class="viewHeight-154" >
            <md-tabs  id="memberSettingTab" md-dynamic-height md-border-bottom flex>
              <md-tab label="All Members">
                <md-content class="md-padding viewHeight80" >
                    <!-- <h1 class="md-display-2">ALL MEMBERS</h1> -->
                    <div layout="column">
                       <div layout="row" layout-align="space-between center" layout-padding style="font-size:large;">
                        <ng-md-icon icon="search" size="36" class="nooutline fillColorDarkGrey" ng-click="user.setFocus()"></ng-md-icon>
                        <md-input-container md-no-float class="nopadding nomargin" flex layout="row">
                            <input type="text" id="#UserSearch" ng-model="userSetting.searchbox" aria-label="search dashboard" class="serachbox2" placeholder="Search">
                        </md-input-container>
                        <div layout="row" layout-align="center center">
                            Sort By
                            <md-select class="nopadding nomargin leftmargin20px" placeholder="Name" ng-model="user.dropbox" style="overflow: hidden!important;">
                                <md-option value="0">Name</md-option>
                                <!-- <md-option value="1">Online</md-option>
                                <md-option value="2">Offline</md-option> -->
                            </md-select>
                        </div>
                    </div>
                    <md-divider md-outset></md-divider>
                    <table md-table>
                        <thead md-head>
                            <tr md-row>
                                <th md-column></th>
                                <th md-column>Name</th>
                                <th md-column>Phone</th>
                                <th md-column>Action</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="member in userSetting.members | filter : userSetting.searchbox | orderBy: ['firstName', 'lastName']" class="hoverLightGrey3" >
                                <td md-cell>
                                    <img ng-src="{{member.user.profile['profile-image'] || 'https://s3-us-west-2.amazonaws.com/defaultimgs/user.png'}}" class="icon50px imageRound" alt="user" layout-margin />
                                </td>
                                <td md-cell>
                                    <div layout="column" layout-align="space-around start">
                                        <span><strong>{{member.user.profile.firstName + ' ' + member.user.profile.lastName}}</strong></span>
                                        <span>{{member.userSyncObj.email}}</span>
                                    </div>
                                </td>
                                <td md-cell>{{member.userSyncObj.contactNumber}}</td>
                                <td md-cell style="width:10%">
                                    <md-select aria-label="userSetting" ng-model="member.membershipType" ng-disabled="member.membershipType == 1">
                                        <md-option value="1" ng-if="member.membershipType == 1">
                                            <span>Owner</span>
                                            <ng-md-icon icon="person" class="leftmargin10px" size="20"></ng-md-icon>
                                        </md-option>
                                        <md-option value="2" ng-click="userSetting.changeMemberRole(2, member)">Admin
                                        </md-option>
                                        <md-option value="3" ng-click="userSetting.changeMemberRole(3, member)">Member
                                        </md-option>
                                        <md-option value="4" ng-click="userSetting.changeMemberRole(4, member)" >Block Account
                                        </md-option>
                                        <md-option ng-click="userSetting.changeMemberRole(null, member)" value="5">Delete Account
                                        </md-option>
                                    </md-select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
                </md-content>
              </md-tab>
              <md-tab label="INVITATIONS/REQUESTS">
                <md-content class="md-padding viewHeight80">
                  <!-- <h1 class="md-display-2">INVITATIONS/REQUESTS</h1> -->
                    <div layout="column">
                        <div layout="row" layout-align="space-between center" layout-padding style="font-size:large;">
                            <h4>INVITATIONS/REQUESTS</h4>
                            <div layout="row" layout-align="center center">
                                Sort By
                                <md-select class="nopadding nomargin leftmargin20px" placeholder="Name" ng-model="user.dropbox" style="overflow: hidden!important;">
                                    <md-option value="0">Name</md-option>
                                </md-select>    
                            </div>
                        </div>
                        <md-divider md-outset></md-divider>
                        <table md-table>
                            <thead md-head>
                                <tr md-row>
                                    <th md-column></th>
                                    <th md-column>Name</th>
                                    <th md-column>Contact</th>
                                    <th md-column>Action</th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row ng-repeat="request in userSetting.pendingRequests | orderBy: ['firstName', 'lastName']" class="hoverLightGrey3" >
                                    <td md-cell style="width:10%">
                                        <img ng-src="{{request.userSyncObj['profile-image'] || 'https://s3-us-west-2.amazonaws.com/defaultimgs/user.png'}}" class="icon50px imageRound"  alt="user" layout-margin/>
                                    </td>
                                    <td md-cell>
                                        <div layout="column" layout-align="space-around start">
                                            <span><strong>{{request.userSyncObj.firstName + ' ' + request.userSyncObj.lastName}}</strong></span>
                                            <span>{{request.userSyncObj.email}}</span>
                                        </div>
                                    </td>
                                    <td md-cell>{{member.userSyncObj.contactNumber}}</td>
                                    <td md-cell style="width:10%">
                                       <md-select ng-model="blockOption" placeholder="Pending">
                                            <md-option value="1" ng-click="userSetting.approveMembership(request)">
                                                Accept User
                                            </md-option>
                                            <md-option value="2" ng-click="userSetting.rejectMembership(request)">
                                                Ignore User
                                            </md-option>
                                        </md-select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </md-content>
              </md-tab>
              <md-tab label="Blocked Members">
                <md-content class="md-padding viewHeight80">
                  <!-- <h1 class="md-display-2">BLOCK USERS</h1> -->
                         <div layout="column">
                        <div layout="row" layout-align="space-between center" layout-padding style="font-size:large;">
                            <h4>Blocked Members</h4>
                            <div layout="row" layout-align="center center">
                                Sort By
                                <md-select class="nopadding nomargin leftmargin20px" placeholder="Name" ng-model="user.dropbox" style="overflow: hidden!important;">
                                    <md-option value="0">Name</md-option>
                                </md-select>    
                            </div>
                        </div>
                        <md-divider md-outset></md-divider>
                        <table md-table>
                            <thead md-head>
                                <tr md-row>
                                    <th md-column></th>
                                    <th md-column>Name</th>
                                    <th md-column>Contact</th>
                                    <th md-column>Action</th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <!-- <tr md-row ng-repeat="request in userSetting.pendingRequests | orderBy: ['firstName', 'lastName']" class="hoverLightGrey3" > -->
                                <tr md-row ng-repeat="request in [] | orderBy: ['firstName', 'lastName']" class="hoverLightGrey3" >
                                    <td md-cell style="width:10%">
                                        <img ng-src="{{request.userSyncObj['profile-image'] || 'https://s3-us-west-2.amazonaws.com/defaultimgs/user.png'}}" class="icon50px imageRound"  alt="user" layout-margin/>
                                    </td>
                                    <td md-cell>
                                        <div layout="column" layout-align="space-around start">
                                            <span>{{request.userSyncObj.firstName + ' ' + request.userSyncObj.lastName}}</span>
                                            <span>{{request.userSyncObj.email}}</span>
                                        </div>
                                    </td>
                                    <td md-cell>{{member.userSyncObj.contactNumber}}</td>
                                    <td md-cell style="width:10%">
                                       <md-select placeholder="Pending" ng-model="someVal">
                                            <md-option value="1" ng-click="userSetting.approveMembership(request)">
                                                Accept User
                                            </md-option>
                                            <md-option value="2" ng-click="userSetting.rejectMembership(request)">
                                                Ignore User
                                            </md-option>
                                        </md-select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </md-content>
              </md-tab>
            </md-tabs>
        </md-content>
    </div> <!-- memberSetingDiv -->
</div>