<div layout="row" layout-align="center start" layout-padding layout-margin  class="viewHeight">
    <form flex-gt-sm="30" name="singupForm" novalidate class="md-whiteframe-z2 backColorWhite vscroll" layout-margin autocomplete="off">
        <div layout="column" layout-align="center center">
            <md-content  layout="column" layout-align="center start">
            <div layout="row" layout-align="center center">
                <md-input-container>
                    <label>User ID</label>
                    <input name="userId" ng-model="signUp.user.userID" ng-pattern="/^([a-z0-9]){3,10}$/" check-user-id="" required>
                    <div ng-hide="singupForm.userId.$untouched" ng-messages="singupForm.userId.$error" ng-messages-multiple>
                        <div class="invalid_color" ng-message="required">This is required.</div>
                        <div class="invalid_color" ng-message="pattern">No Space or Special character, <br> length Only 3 to 20</div>
                        <div class="invalid_color" ng-message="checkUserId">This userID is not available.</div>
                    </div>
                </md-input-container>
                <ng-md-icon icon="info_outline" size="20" class="fillColorSeaGreen" title="Select a unique ID for yourself without spaces or special characters">
                </ng-md-icon>
            </div>
             <md-input-container>
                <label>Email Address</label>
                <input name="email" ng-model="signUp.user.email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" type="email" required>
                <div ng-hide="singupForm.email.$untouched" ng-messages="singupForm.email.$error" ng-messages-multiple>
                    <div class="invalid_color" ng-message="required">This is required.</div>
                    <div class="invalid_color" ng-message="email">Not valid email</div>
                    <div class="invalid_color" ng-message="pattern">Email is not valid</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>First Name</label>
                <input name="firstName" ng-model="signUp.user.firstName" required>
                <div ng-hide="singupForm.firstName.$untouched" ng-messages="singupForm.firstName.$error">
                    <div class="invalid_color" ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Last Name</label>
                <input name="lastName" ng-model="signUp.user.lastName" required autocomplete="off">
                <div ng-hide="singupForm.lastName.$untouched" ng-messages="singupForm.lastName.$error">
                    <div class="invalid_color" ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input name="password" ng-model="signUp.user.password" type="password" required minlength="3" maxlength="40">
                <div ng-hide="singupForm.password.$untouched" ng-messages="singupForm.password.$error">
                    <div class="invalid_color" ng-message="minlength">Required minimum length 3</div>
                    <div class="invalid_color" ng-message="maxlength">Required maximum length 40</div>
                    <div class="invalid_color" ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Confirm Password</label>
                <input compare-too="signUp.user.password" name="confirmPassword" ng-model="signUp.user.confirmPassword" type="password" required minlength="3" maxlength="40">
                <div ng-hide="singupForm.confirmPassword.$untouched" ng-messages="singupForm.confirmPassword.$error">
                    <div class="invalid_color" ng-message="required">This is required.</div>
                    <div class="invalid_color" ng-message="compareToo">Password does not match.</div>
                </div>
            </md-input-container>
            </md-content>
            <md-button layout="row" layout-align="center center" ng-click="signUp.signup(singupForm)" class=" backColorSeaGreen foreColorWhite displayFlex" ng-disabled="singupForm.$invalid || singupForm.userId.$pending.checkUserId || signUp.process">
                <md-progress-circular md-mode="indeterminate" ng-show="signUp.process" md-diameter="30"></md-progress-circular>
                <span> Sign up</span>
            </md-button>
        </div>
    </form>
</div>
