<md-toolbar class="backColorSeaGreen md-whiteframe-z2" layout="row" layout-align="space-between center">
    <div layout='row' layout-align="start center">
        <img src='img/Untitled-3.svg' class="icon30px leftmargin10px nooutline cursorPointer" ui-sref="home">
        <span class="cursorPointer leftmargin10px nooutline" ui-sref="home"><strong>TEAM OF TEAMS</strong></span>
    </div>
    <div layout="row" layout-align="end center" layout-margin>
        <md-button class="nomargin nopadding" ui-sref="signin" ui-sref-active="backColorLightGrey2 foreColorDarkGrey">Sign In</md-button>
        <md-button class="nomargin nopadding leftmargin20px" ui-sref="signup" ui-sref-active="backColorLightGrey2 foreColorDarkGrey">Sign Up</md-button>
    </div>
</md-toolbar>