<!-- Activity -->
<div class="viewHeight-64 md-whiteframe-z2" flex layout="column">
    <div layout="row" layout-padding layout-align="space-between center" style="font-size:large;" class="backColorWhite">
        <ng-md-icon icon="search" size="36" class="nooutline fillColorDarkGrey" ng-click="activity.setFocus()"></ng-md-icon>
        <md-input-container md-no-float class="nopadding nomargin" flex layout="row">
            <input type="text" id="#UserSearch" ng-model="activity.searchbox" aria-label="search activity" class="serachbox2" placeholder="Search">
        </md-input-container>
    </div>
    <md-table-container flex class="backColorWhite viewHeight vscroll">
        <md-divider md-outset></md-divider>
        <table md-table>
            <thead md-head>
                <tr md-row>
                    <th md-column>
                    </th>
                    <th md-column class="foreColorSeaGreen">Name</th>
                    <th md-column class="foreColorSeaGreen">Phone</th>
                    <th md-column class="foreColorSeaGreen">Team</th>
                    <th md-column class="foreColorSeaGreen">Last Modified</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="user in activity.users | orderBy: ['firstName', 'lastName', 'groupTitle', 'subgroupTitle'] | filter: {groupID: activity.groupID, subgroupID: activity.subgroupID, fullName: activity.searchbox} : true"
                class="hoverLightGrey3 nooutline">
                    <td md-cell layout="row" layout-align="center center">
                        <ng-md-icon icon="lens" size="10" ng-style="user.onlinestatus ? {'fill':'#8BC53F'} : {'fill':'#c51903'}"></ng-md-icon>
                        <img ng-src="{{user.profileImage ||'https://s3-us-west-2.amazonaws.com/defaultimgs/user.png'}}" class="imageRound icon40px"
                        ng-style="user.type == 1 ? {'border':'3px solid #8BC53F'} :{'border':'3px solid #c51903'}" layout-margin>
                    </td>
                    <td md-cell>{{user.fullName}}</td>
                    <td md-cell>{{user.contactNumber}}</td>
                    <td md-cell>{{user.groupsubgroupTitle}}</td>
                    <td md-cell>{{ activity.returnMoment(user.timestamp)}}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
</div>
