<!-- Activity -->

 <div layout="row" layout-align="space-between start" style="font-size:large;" class="viewHeight backColorWhite">
<div layout-fill flex>
  <md-toolbar class="md-whiteframe-4dp" style="background-color: rgb(130, 210, 227);">
              <div class="md-toolbar-tools">
                  <div style="text-align:center">
                   <h2>{{collaborator.document}}<sup ng-if="collaborator.default">*</sup></h2>
                  </div>
                  <span flex></span>
                  <!-- Right aligned menu below button -->
                      <!--<i class="material-icons">more_vert</i>-->
                      <md-button class="md-fab md-mini text" id="demo-menu-lower-right" aria-label="Eat cake" ng-click="collaborator.channelBottomSheetfunc()">
                        <ng-md-icon icon="add" class="fillColorWhite" size="20"></ng-md-icon>
                      </md-button>

                  <div class="mdl-tooltip" for="demo-menu-lower-right">more</div>
                  <!--<button ng-click='collaborator.export()' ng-disabled="ready">Export to Html</button>-->
                  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
                      <li class="mdl-menu__item onhover" ng-click='collaborator.export()' ng-if="!ready">
                          <ng-md-icon icon="check" style="fill: white" ng-if="!clicked" size="20"></ng-md-icon>
                          <ng-md-icon icon="check" style="fill: black" ng-if="clicked" size="20"></ng-md-icon>
                          <!--Export-->
                          <button class="cust"> Export</button>
                      </li>
                  </ul>
              </div>
            </md-toolbar>
       <div id="firepad" style="" >
      </div>
      </div>
      <div style="width:400px;" layout-fill class="backColorSeaGreen viewHeight vscroll" ng-if="collaborator.subgroupID">
    	<md-list>
    	  	<md-list-item class="nopadding nomargin buttonHover nooutline cursorPointer" ng-repeat="user in collaborator.users | orderBy: ['firstName', 'lastName', 'groupTitle', 'subgroupTitle'] | filter: {groupID: collaborator.groupID, subgroupID: collaborator.subgroupID ,onlinestatus: true}" ng-click="collaborator.activeUser = user.id">
    		    <img ng-src="{{user.profileImage || 'https://s3-us-west-2.amazonaws.com/defaultimgs/user.png'}}" alt="{{user.id}} image" class="icon40px leftmargin20px imageRound"> <span class="leftmargin20px">{{user.fullName}}</span>
    	  	</md-list-item>

          <div class="md-whiteframe-z1 backColorWhite channelBottomSheet animove" layout="column" ng-if="collaborator.channelBottomSheet">
              <h3 class="foreColorDarkGrey">New Document</h3>
              <md-input-container>
                  <label>Document Title</label>
                  <input type="text" ng-model="collaborator.documentTitle">
              </md-input-container>
              <md-button class="backColorSeaGreen" ng-disabled="!collaborator.documentTitle" aria-label="new channel" ng-click="collaborator.createDocument()">Create</md-button>
          </div>
    	</md-list>
    	</div>


</div>
