<!--<form style="background-color: #005DE9;" name="groupForm" ng-submit="cgc.answer( groupForm )" novalidate="" ng-controller="CreateGroupController as cgc">-->
<style>
    a.md-button.md-default-theme.md-hue-1.md-accent.md-raised, a.md-button.md-default-theme.md-hue-1.md-accent.md-fab, .md-button.md-default-theme.md-hue-1.md-accent.md-raised, .md-button.md-default-theme.md-hue-1.md-accent.md-fab {
        background-color: #60b089;
    }

    a.md-button.md-default-theme.md-hue-1.md-accent.md-raised:not([disabled]):hover, a.md-button.md-default-theme.md-hue-1.md-accent.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-hue-1.md-accent.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-hue-1.md-accent.md-fab:not([disabled]):hover {
        background-color: #60b089;
    }

    .cropper-main-image {
        height: 100px;
        width: 114px;
    }

    .md-sidenav-backdrop.md-opaque.ng-enter.ng-scope.md-default-theme {
        background-color: transparent;
    }

    .chipsdemoBasicUsage .custom-chips .md-chip {
        position: relative;
        padding-right: 35px;
    }

    .chipsdemoBasicUsage .custom-chips .md-chip .md-chip-remove-container {
        position: absolute;
        right: 4px;
        top: 4px;
        margin-right: 0;
        height: 24px;
    }

    .chipsdemoBasicUsage .custom-chips .md-chip .md-chip-remove-container button.vegetablechip {
        position: relative;
        height: 24px;
        width: 24px;
        line-height: 30px;
        text-align: center;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        border: none;
        box-shadow: none;
        padding: 0;
        margin: 0;
        transition: background 0.15s linear;
        display: block;
    }

    .chipsdemoBasicUsage .custom-chips .md-chip .md-chip-remove-container button.vegetablechip md-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(0.7);
        color: white;
        fill: white;
    }

    .chipsdemoBasicUsage .custom-chips .md-chip .md-chip-remove-container button.vegetablechip:hover, .chipsdemoBasicUsage .custom-chips .md-chip .md-chip-remove-container button.vegetablechip:focus {
        background: rgba(255, 0, 0, 0.8);
    }

</style>
<form style="background-color: #005DE9; width: 1300px;" name="groupForm" novalidate="">

    <ng-md-icon icon="close" size="50" layout-padding ng-click="$root.newImg=null;geoFencing.hide()" style="outline: none"></ng-md-icon>

    <md-content style="/*height: calc(100vh - 88px);*//*max-width:70%;*/margin: 0px auto; width: 1080px">
        <div layout="row">
            <div flex="6"
                 style=" margin-left:7px;text-align: right; max-height: 400px;height: 330px;min-height: 300px;margin-top: 0px;text-align: center;background-color: rgb(96, 176, 137);">
                <div style="background-color:rgb(96, 176, 137);width:0px;">
                    <div layout="column">
                        <div>
                            <md-button id="geof" ng-click="geoFencing.openEditGroup()"><img src="../../img/6sami.svg"
                                                                                            style="width: 33px;height: 33px;"/><br><span
                                    style="color: white;">Group</span></md-button>
                        </div>

                        <div>
                            <md-button ng-click="geoFencing.openUserSettingPage()"><img src="../../img/3sami.svg"
                                                                                        style="width: 33px;height: 33px;"/><br><span
                                    style="color: white;">Members</span></md-button>
                        </div>
                        <div>
                            <md-button style="background-color: darkseagreen"><img src="../../img/5sami.svg"
                                                                                   style=";width: 33px;height: 33px;"><br><span
                                    style="color: white;">Fencing</span></md-button>
                        </div>
                        <div>
                            <md-button ng-click="geoFencing.openCreateSubGroupPage()"><img src="../../img/4sami.svg"
                                                                                           style="width: 33px;height: 33px;"><br><span
                                    style="color: white;">Teams</span></md-button>
                        </div>
                    </div>
                </div>
            </div>
            <div flex="90">
                <md-card style="margin: 0px auto; border-radius: 5px">
                    <md-card-content style="padding: 0px;">

                        <h1 style="color: #d3d3d3;">&nbsp;&nbsp;&nbsp;Geo Fencing</h1>
                        <br/>

                        <div layout="row" style="border-top:solid 1px #d3d3d3; ">

                            <div flex="25" style="background-color: #FDF8F8; ">
                                <md-content class="grayScroller" style="height: 721px;">
                                    <md-card style="  margin: 1px 3px 0px 3px !important;" class=" md-whiteframe-z2" ng-init="_index={0:true}">
                                        <md-list style="padding: 0px !important;"
                                                 ng-repeat="subgroup in geoFencing.subgroups" ng-class="{'md-whiteframe-z5': $parent._index[$index]}" ng-click="$parent._index={};$parent._index[$index]=true; geoFencing.showLocationBySubGroup(subgroup.$id)">

                                            <md-list-item ng-click="geoFencing.veiwSubgroup(subgroup, $index)" class="md-3-line" style="padding: 0px !important;">

                                                <img ng-src="{{subgroup['logo-image'].url}}"
                                                     style="height: 120px;width: 90px;"/>

                                                <div class="md-list-item-text" style="padding: 0px; margin-top: 2px">
                                                    <b><p style="text-indent: 0px;margin-left: 10px;">
                                                        {{subgroup.title}}</p></b>
                                                    <img ng-src="{{item.face}}" class="md-avatar"
                                                         style="  width: 33px; margin-top: 16px"/>
                                    <span><img src="img/geoLocation.svg" width="40px" height="20px"
                                               style=" width:60px ; margin-left: 30px;margin-top: 22px;">
                                        <img src="img/notification1.svg" style="width: 16px; margin-top: 22px"></span>
                                                </div>
                                                <md-divider></md-divider>
                                            </md-list-item>

                                        </md-list>
                                    </md-card>

                                </md-content>
                                <div style="text-align: center;margin-top: 50px;">
                                    <!--md-button
                                            class="md-accent md-raised md-hue-1 md-button md-default-theme md-whiteframe-z2"
                                            ng-click="geoFencing.answer( groupForm )"><span
                                            style="color: white;">+ Create Team</span>
                                    </md-button>-->
                                </div>

                            </div>
                            <div flex layout="coulumn" style="margin-left: 5px;padding: 20px" layout="row">
                                <div flex layout="row">
                                    <div flex="80" >
                                        <!--<md-autocomplete class="searchbox"

                                                         md-items="geoFencing.address"

                                                         placeholder="Address">
                                        </md-autocomplete>-->
                                       <!-- <md-autocomplete id="xyx"
                                                md-delay="500"
                                                md-autofocus="true"
                                                md-selected-item="ctrl.selectedItem"
                                                md-search-text="ctrl.searchText"
                                                md-items="group in queryGroups(ctrl.searchText)"
                                                md-item-text="group['.value']"
                                                placeholder="Address">
                                            <span md-highlight-text="ctrl.searchText">{{ group['.value'] }}</span>
                                        </md-autocomplete>-->
                                        <md-input-container>
                                            <input type="text" ng-model="geoFencing.address" aria-label="Geofencing Address Box" />

                                        </md-input-container>
                                    </div>
                                    <div flex="20" >
                                        <md-button class="md-raised" ng-click='geoFencing.getLatLngByAddress(geoFencing.address)'><span>Find on Map</span></md-button>
                                    </div>
                                </div>
                                <div layout="row" flex style="  position: absolute;left: 400px;top: 200px;height: 0%">
                                    <div aria-label="Location">
                                        <md-content class="mapModel" style="width:600px;height: 350px;">
                                            <!--<md-subheader class="md-sticky-no-effect" style="background-color: #dcedc8; margin: 0px; margin-left: -24px; margin-right: -24px; margin-top: -24px;">{{ title || "Location" }}</md-subheader>-->

                                                <leaflet   center="$root.mapData.center" markers="$root.mapData.markers" event-broadcast="$root.mapData.events" markers-nested="true" height="300px" width="600px"></leaflet>
                                                <!--<leaflet ng-if="!showLocation"  height="300px" width="600px"></leaflet>-->

                                        </md-content>
                                        <div style="height: 30px !important;" class="md-actions">
                                            <!--<md-button ng-click="hide()" class="md-primary">-->
                                                <!--close-->
                                            <!--</md-button>-->
                                            <div flex layout="row" ng-show="$root.mapData.dragable">
                                                <div flex="80" layout  layout="column">
                                                    <div flex="10" layout layout-align="center center">

                                                    </div>
                                                    <md-slider flex class="md-primary" md-discrete ng-model="$root.mapData.radius" step="1" min="1" max="100" aria-label="rating">
                                                    </md-slider>
                                                </div>
                                                <md-button flex="20" layout="column"
                                                           class="md-accent md-raised md-hue-1 md-button md-default-theme md-whiteframe-z2" layout="center"
                                                           ng-click=" geoFencing.setSubgroupLocation();$root.mapData.dragable = !$root.mapData.dragable">
                                                <span
                                                        style="color: white;" >save</span>
                                                </md-button>
                                            </div>

                                            <md-button ng-show="!$root.mapData.dragable"
                                                    class="md-accent md-raised md-hue-1 md-button md-default-theme md-whiteframe-z2" layout="center"
                                                    ng-click="$root.mapData.dragable = !$root.mapData.dragable">
                                                <span
                                                        style="color: white;">Add GeoFence</span>
                                            </md-button>

                                        </div>
                                    </div>

                                    <!--<div style="text-align: center;margin-top: 50px;">-->
                                        <!--<md-button-->
                                                <!--class="md-accent md-raised md-hue-1 md-button md-default-theme md-whiteframe-z2"-->
                                                <!--ng-click="geoFencing.answer( groupForm )"><span-->
                                                <!--style="color: white;">+ Create Team</span>-->
                                        <!--</md-button>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>

                    </md-card-content>
                </md-card>
            </div>
        </div>
    </md-content>

</form>

