<div layout="row" layout-padding layout-margin>
	<div layout="column" layout-align="start center" class="nomargin nopadding md-whiteframe-z1ed backColorDarkSeaGreen" style="max-height: 287px">
		<md-button ng-click="geoFencing.openEditGroup()" style="margin: 0px; width:100%">
	        <img src="../../img/6sami.svg" style="width: 33px;height: 33px;margin-bottom: -15px;" />
	        <div style="color: white;">TEAM OF TEAMS</div>
        </md-button>
	    <md-button ng-click="geoFencing.openUserSettingPage()" style="margin: 0px; width:100%">
	    	<img src="../../img/3sami.svg" style="width: 33px;height: 33px;margin-bottom: -15px;" />
        	<div style="color: white;">Members</div>
    	</md-button>
		<md-button style="margin: 0px; width:100%" class="backColorSeaGreen">
			<img src="../../img/5sami.svg" style="width: 33px;height: 33px;margin-bottom: -15px;">
	        <div style="color: white;">Fencing</div>
        </md-button>
		<md-button ng-click="geoFencing.openCreateSubGroupPage()" style="margin: 0px; width:100%">
			<img src="../../img/4sami.svg" style="width: 33px;height: 33px;margin-bottom: -15px;">
		    <div style="color: white;">Teams</div>
	    </md-button>
	</div>
	<div flex layout-padding class="nomargin nopadding" style="border: 1px solid white">
		<h1 style="color: #d3d3d3;" class="nomargin backColorWhite" layout-padding>Geo Fencing</h1>
        <md-divider md-outset class="nopadding"></md-divider>
		<!-- <div layout="row" class="nopadding md-whiteframe-z2" layout-padding> -->
        <div autocomplete="off" layout="row" class="nopadding md-whiteframe-z2" layout-padding name="groupForm" novalidate>
            <div class="nopadding md-whiteframe-z1 viewHeight-154 vscroll" layout="column" layout-align="start center">
                <div ng-repeat="subgroup in geoFencing.subgroups track by $index" class="backColorWhite md-whiteframe-z1 bottommargin5px">
                    <subgroupcard-directive subgroup="subgroup" ng-click="$parent._index={};$parent._index[$index]=true; geoFencing.showPanel = true; geoFencing.showLocationBySubGroup(subgroup.$id); geoFencing.selectedindex = $index" class="nooutline cursorPointer"></subgroupcard-directive>
                    <ng-md-icon ng-show="geoFencing.selectedindex===$index" icon="chevron_right" style="position: relative; left: 195px; top: -73px;"></ng-md-icon>   
                </div>
            </div>
            <div ng-show="geoFencing.showPanel" class="backColorWhite md-whiteframe-z1 viewHeight-154 vscroll" layout="column" layout-align="space-between" flex>
                <div layout="row" layout-align="center center">
                    <div layout="row" flex>
                        <ng-md-icon icon="search" size="36" class="nooutline fillColorDarkGrey" ng-click="geoFencing.setFocus()"></ng-md-icon>
                        <form ng-submit="geoFencing.getLatLngByAddress(geoFencing.address)" flex>
                            <md-input-container md-no-float class="nopadding nomargin" flex layout="row">
                                <input type="text" style="font-size:x-large;" id="#UserSearch" ng-model="geoFencing.address" aria-label="search dashboard" class="serachbox2" placeholder="Search">
                            </md-input-container>
                        </form>
                    </div>
        			<div>
                         <md-button class="md-raised" ng-click='geoFencing.getLatLngByAddress(geoFencing.address)'><span style="color: #60B089"><b>Find on Map</b></span></md-button>
                    </div>
                </div>
                <div layout="column" layout-align="center center" layout-padding layout-margin >
                    <!-- <leaflet id="leafletmap" center="$root.mapData.center" markers="$root.mapData.markers" event-broadcast="$root.mapData.events" markers-nested="true" height="600px" width="900px"></leaflet> -->
                    <leaflet id="leafletmap" defaults="geoFencing.defaults" center="geoFencing.center" markers="geoFencing.markers" height="600px" width="900px" flex paths="geoFencing.paths"></leaflet>
                </div>

                <div layout="row" layout-align="space-between center" ng-hide="geoFencing.fencing" flex>
                    <md-slider flex class="md-primary" ng-model="geoFencing.paths.c1.radius" step="1" min="1" max="100" aria-label="fecning"></md-slider>
                    <md-button layout="row" layout-align="center center" class="backColorSeaGreen displayFlex" ng-click="geoFencing.setSubgroupLocation();">
                        <md-progress-circular md-mode="indeterminate" ng-show="geoFencing.isProcessing" md-diameter="30"></md-progress-circular>
                        <span style="color: white;">save</span>
                    </md-button>
                </div>
                <div layout="row" layout-align="end center">
                    <md-button ng-show="geoFencing.fencing" class="backColorSeaGreen" ng-click="geoFencing.fencing = false">
                        <span style="color: white;"> Add GeoFence</span>
                    </md-button>    
                </div>
            </div>
		</div>
	</div>
</div>