<ng-md-icon icon="arrow_back" size="36" class="cursorPointer fillColorDarkGrey nooutline rightmargin20px backButton" ui-sref="user.dashboard ({userID : personalSettings.loggedInUserData.userID })"></ng-md-icon>
<div layout="row" layout-align="center start" layout-padding layout-margin class="viewHeight-170 leftrightpadding65px">
    <form flex="100" name="personalSettingForm" novalidate class="md-whiteframe-z2 backColorWhite vscroll" layout-margin>
        <h1 style="color: #d3d3d3;">Personal Settings</h1>
        <md-divider md-outset></md-divider>
        <h3 style="color: #5D5D5D; margin-top:0px">General Information</h3>
        <div layout="row">
            <md-input-container flex>
                <label>User ID</label>
                <input name="userName" ng-model="personalSettings.userData.$id" minlength="3" maxlength="40" disabled>
                <div ng-show="personalSettingForm.$submitted || personalSettingForm.userName.$touched" ng-messages="personalSettingForm.userName.$error">
                    <div class="invalid_color" ng-message="required">This is required.</div>
                    <div class="invalid_color" ng-message="minlength">Required minimum length 3</div>
                    <div class="invalid_color" ng-message="maxlength">Required maximum length 40</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>First Name</label>
                <input name="firstName" ng-model="personalSettings.userData.firstName" minlength="3" maxlength="40" required>
                <div ng-show="personalSettingForm.$submitted || personalSettingForm.firstName.$touched" ng-messages="personalSettingForm.firstName.$error">
                    <div class="invalid_color" ng-message="required">This is required.</div>
                    <div class="invalid_color" ng-message="minlength">Required minimum length 3</div>
                    <div class="invalid_color" ng-message="maxlength">Required maximum length 40</div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <label>Last Name</label>
                <input name="lastName" ng-model="personalSettings.userData.lastName" minlength="3" maxlength="40" required>
                <div ng-show="personalSettingForm.$submitted || personalSettingForm.lastName.$touched" ng-messages="personalSettingForm.lastName.$error">
                    <div class="invalid_color" ng-message="required">This is required.</div>
                    <div class="invalid_color" ng-message="minlength">Required minimum length 3</div>
                    <div class="invalid_color" ng-message="maxlength">Required maximum length 40</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>Old Password</label>
                <input name="oldPassword" type="password" ng-model="personalSettings.userData.oldPassword" check-user-password="" minlength="3" maxlength="40">
                <!--<input name="oldPassword" type="password" ng-model="personalSettings.userData.oldPassword"  minlength="3" maxlength="40" >-->
                <div ng-show="personalSettingForm.oldPassword.$touched" ng-messages="personalSettingForm.oldPassword.$error">
                    <!--<div class="invalid_color" ng-message="required">This is required.</div>-->
                    <div class="invalid_color" ng-message="minlength">Required minimum length 3</div>
                    <div class="invalid_color" ng-message="maxlength">Required maximum length 40</div>
                    <div class="invalid_color" ng-message="_oldPassword">Incorrect password</div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <label>New Password</label>
                <input name="newPassword" type="password" ng-model="personalSettings.userData.newPassword" compare-against="personalSettings.userData.oldPassword" minlength="3" maxlength="40">
                <div ng-show="personalSettingForm.newPassword.$touched" ng-messages="personalSettingForm.newPassword.$error">
                    <div class="invalid_color" ng-message="compareAgainst">Same Password</div>
                    <!--<div class="invalid_color" ng-message="required">This is required.</div>-->
                    <div class="invalid_color" ng-message="minlength">Required minimum length 3</div>
                    <div class="invalid_color" ng-message="maxlength">Required maximum length 40</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>Email Address</label>
                <input name="email" type="email" ng-model="personalSettings.userData.email" disabled>
                <div ng-show="personalSettingForm.$submitted || personalSettingForm.email.$touched" ng-messages="personalSettingForm.email.$error">
                    <!--<div class="invalid_color" ng-message="required">This is required.</div>-->
                    <div class="invalid_color" ng-message="minlength">Required minimum length 3</div>
                    <div class="invalid_color" ng-message="maxlength">Required maximum length 40</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>Mobile Number</label>
                <input name="contactNumber" type="text" ng-model="personalSettings.userData.contactNumber">
            </md-input-container>
            <md-input-container flex>
                <label>Profession</label>
                <input name="profession" type="text" ng-model="personalSettings.userData.profession">
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>About Your Self</label>
                <input name="description" type="text" ng-model="personalSettings.userData.desc">
            </md-input-container>
        </div>
        <!--<div>
                        <span layout="row" style="color: #5D5D5D">See Your Photo</span>
                        <img src="../../img/sampleUserImg.svg" layout="row" class="sampleUserImg">
                    </div>-->
        <div layout="column" layout-align="space-between start">
            <div layout="row" layout-align="start center">
                    <h3>Set You Photo</h3>
                    <ng-md-icon icon="info_outline" size="25" class="leftmargin10px fillColorSeaGreen" title="Please Select Logo"></ng-md-icon>
                </div>
            <br />
            <div class="dialog-demo-content cropper-main-button" id="cropperDialogue" layout="row" layout-wrap ng-hide="$root.newImg">
                <img style="outline: none;" ng-src="{{personalSettings.userData['profile-image'] || '../../img/sampleUserImg.svg'}}" alt="sample user img" class="cropper-main-image  imageRound" ng-click="personalSettings.showAdvanced($event)" />
                <!--<md-button class="" ng-click="cgc.showAdvanced($event)" flex flex-md="100">
                                <md-icon md-svg-src="img/image.svg" class="cropper-main-image" ></md-icon>
                            </md-button>-->
            </div>
            <div>
                <img style="outline: none;" ng-src="{{$root.newImg}}" alt="" class="cropper-main-image imageRound" ng-hide="!$root.newImg" ng-click="personalSettings.showAdvanced($event)" />
            </div>
            <!--<image-cropper></image-cropper>-->
            <!--<input ng-model="as3" style="display:none" type="file" id="fileUploadEl"  onchange="angular.element(this).scope().cgc.postPicture(this)"/>
                        <div class="imgFormat image" onclick="$('#fileUploadEl')[0].click();" >
                            <img src="img/image.png" alt=""/>
                        </div>-->
        </div>
        <div layout="row" layout-align="end center">
            <md-button layout="row" layout-align="center center" class="md-raised backColorSeaGreen foreColorWhite displayFlex" ng-click="personalSettings.answer( personalSettingForm )" ng-disabled=" personalSettings.isProcessing">
                <md-progress-circular ng-show="personalSettings.isProcessing" md-diameter="30" md-mode="indeterminate"></md-progress-circular>
                <span> Save</span></md-button>
        </div>
        <!-- </md-content> -->
    </form>
</div>
<!--waste-->
