<div class="background" layout-padding layout-margin>
    <h1 class="md-display-3">A Nervous System for 21st Century Organisations Working in a Complex Envirnoment</h1>
    <h2 class="md-display-2">It’s a Team of Teams World Now. A Team of Teams App for Anyone Aspiring to Manage Organisations by Applying Decentralised Approach to Management</h2>
    <h3 class="md-display-1">A new era and style of management is here, allowing you to manage your company, department, project, university, or school, by combine the adaptability, agility, and cohesion of a small team without loosing control.</h3>
    <p class="md-body-2">Take automated attendance of team members (employees or students) attendance using Geo Fencing. Allows employees to do manaual checkins. Helps team members to communicate with each other through real-time text chat, file sharing and video conferencing. Assign tasks to team members and track progress. Give assignment to students and assign grades. Test the knowledge of the students or employees by giving quizzes. Do collaborative text editing on documents. Create and present real-time cinematic presentations. </p>

</div>
