<ng-md-icon icon="arrow_back" size="36" class="cursorPointer fillColorDarkGrey nooutline rightmargin20px backButton" ui-sref="user.dashboard ({userID : createGroup.user.userID })"></ng-md-icon>
<div layout="row" layout-align="center start" layout-padding layout-margin class="viewHeight-170 leftrightpadding65px">
    <form flex="100" name="groupForm" novalidate class="md-whiteframe-z2 backColorWhite vscroll" layout-margin>
        <h1 style="color: #d3d3d3;" class="nomargin" layout-padding>Create Team of Teams</h1>
        <md-divider md-outset class="nopadding"></md-divider>
        <div layout="column" layout-padding>
            <div>
                <div layout="row" layout-align="start center">
                    <h3>Url</h3>
                    <ng-md-icon icon="info_outline" size="25" class="leftmargin10px fillColorSeaGreen" title="No Space or Special character | length Only 3 to 40"></ng-md-icon>
                </div>
                <div layout="row" layout-align="start center">
                    <div>teamofteams.io/ </div>
                    <md-input-container layout="row" class="nopadding nomargin">
                        <input type="text" name="groupId" ng-model="createGroup.group.groupID" ng-pattern="/^([a-z0-9]){3,20}$/" check-group-existance="" autofocus="true"
                        groupPath="{{createGroup.groupName}}" check-group-existance="" required placeholder="Team">
                    </md-input-container>
                    <div ng-hide="groupForm.groupId.$untouched" ng-messages="groupForm.groupId.$error" ng-messages-multiple>
                            <div class="invalid_color" ng-message="required">This is required.</div>
                            <div class="invalid_color" ng-message="pattern">Lowercase-alpha numeric only - length 3 to 20</div>
                            <div layout="row" class="invalid_color id_Error" ng-message="checkGroupExistance">This name is not available.</div>
                    </div>
                </div>
            </div>
            <h3>General Information</h3>
            <div layout="row">
                <md-input-container flex>
                    <label>Name</label>
                    <input name="groupTitle" ng-model="createGroup.group.title" minlength="3" maxlength="40" required>
                    <div ng-show="groupForm.$submitted || groupForm.groupTitle.$touched" ng-messages="groupForm.groupTitle.$error">
                        <div class="invalid_color" ng-message="required">This is required.</div>
                        <div class="invalid_color" ng-message="minlength">Required minimum length 3</div>
                        <div class="invalid_color" ng-message="maxlength">Required maximum length 40</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Phone</label>
                    <input ng-model="createGroup.group.phone" name="phone" minlength="11" maxlength="40">
                    <div ng-show="groupForm.$submitted || groupForm.phone.$touched" ng-messages="groupForm.phone.$error">
                        <div class="invalid_color" ng-message="minlength">Required minimum length 11</div>
                        <div class="invalid_color" ng-message="maxlength">Required maximum length 40</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container>
                    <label>Address Title</label>
                    <input ng-model="createGroup.group.addressTitle">
                </md-input-container>
                <md-input-container flex>
                    <label>Address</label>
                    <input ng-model="createGroup.group.address">
                </md-input-container>
            </div>
            <md-input-container flex>
                <label>Current Time Zone</label>
                <input ng-disabled="true" ng-model="createGroup.group.timeZone">
            </md-input-container>
            <md-input-container flex>
                <label>Description</label>
                <textarea minlength="5" maxlength="40" name="groupDesc" ng-model="createGroup.group.desc" cols="25" rows="1"></textarea>
                <div ng-show="groupForm.$submitted || groupForm.groupDesc.$touched" ng-messages="groupForm.groupDesc.$error">
                    <div class="invalid_color" ng-message="minlength">Required minimum length 5</div>
                    <div class="invalid_color" ng-message="maxlength">Required maximum length 40</div>
                </div>
            </md-input-container>
            <div>
                <div layout="row" layout-align="start center">
                    <h3>Membership Mode</h3>
                    <ng-md-icon icon="info_outline" size="25" class="leftmargin10px fillColorSeaGreen" title="Please select sign up mode for user"></ng-md-icon>
                </div>
                <md-radio-group ng-model="createGroup.group.signupMode">
                    <md-radio-button value="1" ng-disabled="true" class="md-primary">Invitation Only by Admin</md-radio-button>
                    <md-radio-button value="2" ng-disabled="true" class="md-primary">Request by User</md-radio-button>
                    <!-- <md-radio-button value="3" ng-disabled="true"  class="md-primary">Any Email Address from these domains.</md-radio-button> -->
                </md-radio-group>
                <!-- <md-input-container md-no-float flex>
                    <input ng-model="editGroup.group.domain" type="text" placeholder="To allow email addresses from multiple domains, separate them with commas."
                    ng-disabled="!editGroup.signupModeDisabled(editGroup.group.signupMode)">
                    <div ng-hide="groupForm.groupId.$untouched" ng-messages="groupForm.domain.$error" ng-messages-multiple>
                        <div class="invalid_color" ng-message="required">This is required.</div>
                        <div class="invalid_color" ng-message="pattern">Lowercase-alpha numeric only - length 3 to 20</div>
                        <!<div layout="row" class="invalid_color id_Error" ng-message="checkDomainValidation">This name is not available.</div>>
                    </div>
                </md-input-container> -->
            </div>
            <div>
                <div layout="row" layout-align="start center">
                    <h3>Select Logo</h3>
                    <ng-md-icon icon="info_outline" size="25" class="leftmargin10px fillColorSeaGreen" title="Please Select Logo"></ng-md-icon>
                </div>
                <div class="dialog-demo-content cropper-main-button" id="cropperDialogue" layout="row" layout-wrap ng-hide="$root.newImg">
                    <md-icon style="outline: none;"  md-svg-src="img/image.svg" alt="img/image.svg" class="cropper-main-image" ng-click="createGroup.showAdvanced($event)"></md-icon>
                </div>
                <div>
                     <img ng-src="{{$root.newImg || createGroup.group['logo-image'].url}}" ng-hide="!$root.newImg" alt="img/image.svg" class="cropper-main-image" ng-click="createGroup.showAdvanced($event)"
                    />
                </div>
                <image-cropper></image-cropper>
            </div>
            <div layout="row" layout-align="end center">
                <md-button layout="row" layout-align="center center" ng-disabled="groupForm.$invalid ||  groupForm.$submitted" class="backColorSeaGreen foreColorWhite displayFlex" ng-click="createGroup.answer( groupForm )">
                    <md-progress-circular ng-show="groupForm.$submitted" md-mode="indeterminate" md-diameter="30"></md-progress-circular>
                    <span> Save</span>
                </md-button>
            </div>
        </div>
    </form>
</div>
