<div layout="column" layout-align="space-around center" layout-padding>
    <md-card>
        <md-card-content>
            <h2 class="md-title">Forgot Password</h2>
            <p>
                Please submit the form with your email address.
                <br/> We will send you the password via email, right away.
            </p>
            <!--<p>Please submit the form with your email address. We will send you the password right away, via email.</p>-->
            <form style="padding: 20px;" name="forgetForm" ng-submit="forgot.forgotPassword()" novalidate>
                <div layout="column" layout-align="space-around center" layout-margin>
                    <md-input-container>
                        <label>Email Address</label>
                        <input ng-model="forgot.user.email" type="email" name="email" required autofocus>
                        <div ng-hide="forgetForm.email.$untouched" ng-messages="forgetForm.email.$error" ng-messages-multiple>
                            <div class="invalid_color" ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <!--<md-text-float label="Password"  ng-model="user.password"> </md-text-float>-->
      
                    <md-button layout="row" layout-align="center center" class="backColorSeaGreen foreColorWhite displayFlex" ng-disabled="forgetForm.$invalid" ng-click="forgot.forgotPassword()" >
                        <md-progress-circular ng-show="forgot.submitting" md-mode="indeterminate" md-diameter="30"></md-progress-circular>
                        <span> Submit</span>
                    </md-button>
                </div>
            </form>
        </md-card-content>
    </md-card>
</div>
